extends template/_template

block variables
  - var title = 'Информация об билете'

block content
  include common/_header
  include common/_buy-24
  include common/_menu_nav 
  include common/_footer