extends template/_template

block variables
  - var title = 'Выбор способа входа в ЛК'

block content
  include common/_header-tab
  include common/_way_tab
  include common/_buy-38
  include common/_menu_nav 
  include common/_footer
  