.arrival {
	&__label {
		font-family: "Open Sans Bold";
		font-size: 24px;
		margin-right: @sp;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		padding: @sp 0;
		align-items: center;
		border-bottom: 3px solid @gray_light;
	}

	&__date {
		display: flex;
		align-items: center;

		.data {

		}
	}

	&__time {
		display: flex;
		align-items: center;

		.data {
			border: 3px solid @gray_light;
			border-radius: 10px;
			padding: 5px;
			display: flex;

			&-item {
				font-size: 26px;
				text-transform: uppercase;
				padding: 5px @sp;
				font-family: "Open Sans Bold";
				border-radius: 10px;
				border: 3px solid transparent;
				margin-right: 2*@sp;
				cursor: pointer;

				&:last-child {
					margin-right: 0;
				}

				&.active {
					background: @green;
					border: 3px solid @green_dark;
					color: #fff;
					padding: 5px @sp;
					font-family: "Open Sans Bold";
					border-radius: 10px;

					&:active {
						background-color: @green_dark !important;
					}

					&:hover {
						box-shadow: inset 0 5px 2px 0 rgba(0, 0, 0, 0.23);
						border:0 solid @green;
						padding: 8px 18px;
					}
				}

				&:active {
					background-color: @green_dark !important;
					box-shadow: inset 0 5px 2px 0 rgba(0, 0, 0, 0.23);
					border: 0 solid @green;
					padding: 8px 18px;
				}
			}
		}
	}

	&__timeline {
		background: #fff;
		border-radius: 100px;
		padding: 7px 10px;
		margin: 10px 0;
		display: flex;
		justify-content: space-between;

		.item {
			color: @gray_light;
			font-family: "Open Sans Bold";
			font-size: 20px;
			margin-right: @sp;

			&.active-double, &.active-double + .item,
			&.active-single, &.active-single + .item,
			&.active-ds, &.active-ds + .item,
			&.active-sd, &.active-sd + .item {
				color: #000;
			}

			&.active-double {
				position: relative;

				&:before {
					content: '';
					border-radius: 20px;
					border: 3px solid @orange;
					width: calc(~"(100% + 15px) * 2");
					position: absolute;
					height: 40px;
					top: -10px;
					left: -10px;
				}
			}

			&.active-single {
				position: relative;

				&:before {
					content: '';
					border-radius: 20px;
					border: 3px solid @orange;
					width: calc(~"(100% + 15px) * 2");
					position: absolute;
					height: 40px;
					top: -10px;
					left: -10px;
				}
			}

			&.active-start {
				position: relative;

				&:before {
					content: '';
					border-radius: 0 20px 20px 0;
					border: 3px solid @orange;
					width: calc(~"100% + 3px");
					position: absolute;
					height: 40px;
					top: -10px;
					left: 5px;
					border-left: 0;
				}
			}

			&.active-end {
				position: relative;

				&:before {
					content: '';
					border-radius: 20px 0 0 20px;
					border: 3px solid @orange;
					width: calc(~"100% + 3px");
					position: absolute;
					height: 40px;
					top: -10px;
					left: -10px;
					border-right: 0;
				}
			}

			&.active-sd {
				position: relative;

				&:before {
					content: '';
					border-radius: 20px;
					border: 3px solid @orange;
					width: calc(~"(100% + 18px) * 2");
					position: absolute;
					height: 40px;
					top: -10px;
					left: -10px;
				}
			}

			&:last-child {
				margin-right: 0;
			}

			sup {
				font-family: "Open Sans Bold";
				font-size: 12px;
				top: -0.7em
			}
		}
	}
}