.block_info {
	float: left;
	width: 100%;
	
	&:first-child {
		margin-right: @sp*2;
	}
	
	.clearfix;
	
	& i {
		float: left;
		color: @orange;
		font-size: 47px;
		margin-right: 10px;
	}

	&__text {
		display: inline-block;
		float: left;
		width: 80%;
		font-family: 'Open Sans';
		font-size: 18px;
	}
}
