.btn {
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none;
	color: @green;
	border-radius: @sp/3;
	margin-bottom: 10px;
	// border: 3px solid @green;
	padding: 0 40px;
	background-color: #fff;
	font-family: 'Open Sans Bold';
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 100px;
	height: 70px;
	line-height: 70px;
	
	&:hover {
		box-shadow: inset 0px 5px 2px 0px rgba(0, 0, 0, 0.23);
		border: 0px solid @green;
		
	}

	&:active {
		background-color: #ccc;
		border: 0px solid @green;
		
	}


	&_find {
		width: 305px;
		padding: 7px 28px 14px;
		line-height: 1;
		
		&:hover {
			padding: 7px 28px 14px;
		}
		
		& i {
			position: relative;
			top: 5px;
			font-size: 45px;
			
		}
	}

	&_green {
		color: #fff;
		background-color: @green;
		
		&:active {
			background-color: @green_dark;
		} 
	}

	&_border-white {
		border: 3px solid #fff;
		&:hover {
			 border: 0;
			 line-height: 58px;
		}
	}

	&_border-green-dark {
		border: 3px solid @green_dark;
		line-height: 72px;
		&:hover {
			line-height: 72px;
			border: 3px solid @green_dark;
		}
	}

	&_small {
		font-size: 18px;
		font-family: 'Open Sans Bold';
		padding: @sp/3 10px;
	}

	&_orange {
		border: 0px solid @orange;
		color: @orange;
		font-family: 'Open Sans Bold';
		
		&:hover {
			
		}

	
		&_fill {
			margin-top: 10px;
			color: #fff;
			background-color: @orange;
			border: 0px solid #ccc;
			
			
			
			&:active {
				background-color: @orange_dark;
			}
		}		
	}
	&_gray {
		border: 0;
		background-color: #b0b2c1;
		color: white;
		font-family: 'Open Sans Bold';
		
		line-height: 1.4;
		padding: 15px 25px;
		&:hover {
			padding: 15px 25px;
		}

	}
	&_center {
		display: inline-block;
		&-wrap {
			text-align: center;
		}
	}

	&__img {
		position: relative;
		top: 5px;
		font-size: 40px;
		line-height:0;
	}

	&_main-menu {
		float: right;
		width: 245px;
		height: 58px;
		line-height: 52px;
		padding: 0 25px;
	}

	&_back {
		float: left;
		width: 245px;
		height: 58px;
		line-height: 52px;
		padding: 0 25px;
		
	}

	&_title {
		width: 100%;
		height: 90px;
		text-align: left;
		font-size: 36px;
		font-family: 'Open Sans Extrabold';
		margin-bottom:0;
		line-height: 90px;
		span {

		}
		
		&__img {
			display: inline-block;
			width: 75px;
			height:90px;
			line-height:90px;
			// margin-left:20px;
			vertical-align: sub;
			
			i {
				line-height:0;
				font-size:@sp*4;
			}
		}

		&__text {
			position: relative;
		}
		&:hover {
			line-height: 90px;
		}
	}

	&_go-next {
		width: 365px;
	    margin-top: 160px;
	    padding: 0 25px;
	    
		&:hover {
			padding: 0 25px;
		}

		&:active {
			padding: 0 25px;
		}

	}

	&_arrows {
		float: right;
		width: 80px;
		height: 80px;
		margin-top: 20px;
		background-image: url(../img/svg/arrows.svg);
		background-repeat: no-repeat;
		background-position: center center;
		padding:0;
	}

	&_arrows-circle {
		position: absolute;
		width: 80px;
		height: 80px;
		top: 75px;
		right: @sp*2;
		z-index:100;
		background-image: url(../img/svg/arrows.svg);
		background-repeat: no-repeat;
		background-position: center center;
		z-index:2000;
		padding: 0;
	}

	&_order-pay {
		//width: 685px;
		padding: 0 45px;
		
		&:hover {
			padding: 0 45px;
		}
	}

	&_float-right {
		float: right;
	}
}

