.btn {
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none;
	color: @green;
	border-radius: @sp/3;
	margin-bottom: 10px;
	border: 3px solid @green;
	padding: 10px 25px;
	background-color: #fff;
	font-family: 'Open Sans Bold';
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 100px;
	
	&:hover {
		box-shadow: inset 0px 5px 2px 0px rgba(0, 0, 0, 0.23);
	}


	&_find {
		width: 305px;
		
		& .btn_title__img {
			position: relative;
    		top: 5px;
			margin-left: 0px;
		}
	}

	&_green {
		color: #fff;
		background-color: @green; 
	}

	&_border-white {
		border: 3px solid #fff;
	}

	&_small {
		font-size: 18px;
		font-family: 'Open Sans Bold';
		padding: @sp/3 10px;
	}

	&_orange {
		border: 3px solid @orange;
		color: @orange;
		font-family: 'Open Sans Bold';

	
		&_fill {
			margin-top: 10px;
			color: #fff;
			background-color: @orange;
			border: 1px solid #ccc;
		}		
	}

	&__img {
		position: relative;
		top: 2px;
		margin-right:10px;
	}

	&_main-menu {
		float: right;
		width: 245px;
	}

	&_back {
		float: left;
		width: 245px;
	}

	&_title {
		width: 100%;
		height: 90px;
		text-align: left;
		font-size: 36px;
		font-family: 'Open Sans Extrabold';
		
		&__img {
			display: inline-block;
			width: 75px;
			height:0;
			line-height:2.6;
			margin-left:@sp;
		}

		&__text {
			position: relative;
			top:-10px;
		}
	}

	&_go-next {
		width: 365px;
		margin-top:150px;

	}
}

