.btn {
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none;
	color: @green;
	border-radius: @sp/3;
	margin-bottom: 10px;
	border: 3px solid @green;
	padding: 7px 25px;
	background-color: #fff;
	font-family: 'Open Sans Bold';
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 100px;
	
	&:hover {
		box-shadow: inset 0px 5px 2px 0px rgba(0, 0, 0, 0.23);
	}

	&:active {
		background-color: #ccc;
	}


	&_find {
		width: 305px;
		
		& .btn_title__img {
			margin-left: -18px;
			
			& img {
				width: 32px;
			}
		}
	}

	&_green {
		color: #fff;
		background-color: @green;
		
		&:active {
			background-color: @green_dark;
		} 
	}

	&_border-white {
		border: 3px solid #fff;
	}

	&_border-green-dark {
		border: 3px solid @green_dark;
	}

	&_small {
		font-size: 18px;
		font-family: 'Open Sans Bold';
		padding: @sp/3 10px;
	}

	&_orange {
		border: 3px solid @orange;
		color: @orange;
		font-family: 'Open Sans Bold';

	
		&_fill {
			margin-top: 10px;
			color: #fff;
			background-color: @orange;
			border: 1px solid #ccc;
			
			&:active {
				background-color: @orange_dark;
			}
		}		
	}
	&_center {
		display: inline-block;
		&-wrap {
			text-align: center;
		}
		&-big {
			padding: 16px 45px;
			border: none;
		}
	}

	&__img {
		position: relative;
		top: 5px;
		font-size: 40px;
		line-height:0;
	}

	&_main-menu {
		float: right;
		width: 245px;
	}

	&_back {
		float: left;
		width: 245px;
	}

	&_title {
		width: 100%;
		height: 90px;
		text-align: left;
		font-size: 36px;
		font-family: 'Open Sans Extrabold';
		margin-bottom:0;
		
		&__img {
			display: inline-block;
			width: 75px;
			height:0;
			line-height:2.7;
			margin-left:20px;
			
			i {
				line-height:0;
				font-size:@sp*4;
			}
		}

		&__text {
			position: relative;
			top: -12px;
		}
	}

	&_go-next {
		width: 365px;
	    margin-top: 160px;
	    padding: 15px 25px;

	}

	&_arrows {
		float: right;
		width: 80px;
		height: 80px;
		margin-top: 20px;
		background-image: url(../img/svg/arrows.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	&_arrows-circle {
		position: absolute;
		width: 80px;
		height: 80px;
		top: 75px;
		right: @sp*2;
		z-index:100;
		background-image: url(../img/svg/arrows.svg);
		background-repeat: no-repeat;
		background-position: center center;
		z-index:2000;
	}
}

