.footer {
	  position: relative;
	  width: 100%;
	  height: auto;
	  
	&__wrap {
		text-align: center;
		color: @gray;
		font-family: 'Open Sans Semibold';
		font-size: 18px;
		padding: 15px 0px 20px;
		text-decoration: none;
		&_black {
			text-align: center;
			color: black;
			font-family: 'Open Sans Semibold';
			font-size: 18px;
			padding: 10px 0px 10px;
			text-decoration: none;
			.clearfix;
		} 

		&_small {
			padding: 5px 0px 5px;
			font-size: 17px;
		} 
	}

	&__link {
		border-bottom: 1px solid @blue;
		color: @blue !important;
		text-decoration: none;
	}

}
