.from-to {
	.clearfix;
	padding: @sp 0;

	&__circles {
		float: left;
		margin-right: 25px;
	}

	&__text {
		float: left;
		font-family: 'Open Sans Bold';
		font-size: 38px;
		line-height:1.4;
	}

	&__elem {
		display: inline-block;
		width: 170px;
		color: @gray;
		
	}

	&__arrows {
		float: right;
		margin-top: @sp;
	}
}