.from-to {
	.clearfix;
	padding: @sp*2 0;

	&__circles {
		float: left;
		margin-right: 10px;
	}

	&__text {
		float: left;
		font-family: 'Open Sans Bold';
		font-size: 38px;
	}

	&__elem {
		display: inline-block;
		width: 170px;
		color: @gray;
		
	}

	&__arrows {
		float: right;
		margin-top: 20px;
	}
}