.header {
	height:130px;
	background-color: @orange;
	background-image: url(../img/svg/map.svg);
    background-size: 50%;

	&__wrap {
		text-align: center;
		width: 100%;
		padding: 20px 0 0;
	}

	&_tabs {
		height: 225px;

		.header__wrap {
			display: flex;
			justify-content: space-between;
		}
	}

	&_new {
		height: 150px;

		.btn_main-menu {

		}
	}

	&__tab {
		display: flex;
		padding-top: 27px;

		&-block-info {
			i {
				line-height: 1 !important;
				margin-right: 12px !important;
			}
		}

		&-item {
			width: 153px;
			height: 115px;
			text-align: center;
			cursor: pointer;
			position: relative;

			&:before {
				content: '';
				border-left: 2px solid #fff;
				height: 110px;
				position: absolute;
				left: 15px;
				opacity: 0.4;
				top: 15px;
			}

			a {
				text-transform: uppercase;
				font-family: 'Open Sans Bold';
				font-size: 18px;
				text-decoration: none;
				color: #fff;
			}

			&-card, &-pas, &-ticket {
				height: 42px;
				background-position: center center !important;
				margin: 36px 0 @sp 0;
			}

			&:nth-child(2) {
				&:before {
					left: -15px;;
				}
			}

			&:last-child {
				&:after {
					content: '';
					border-left: 2px solid #fff;
					height: 110px;
					position: absolute;
					right: 15px;
					opacity: 0.4;
					top: 15px;
				}
			}

			&.active {
				background: #fff;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				height: 140px;

				&:before, &:after {
					display: none;
				}

				& + .header__tab-item:before {
					display: none;
				}

				a {
					color: #000;
				}

				.header__tab-item-card {
					background: url("../img/svg/cart-g.svg") no-repeat;
				}

				.header__tab-item-pas {
					background: url("../img/svg/people-g.svg") no-repeat;
				}

				.header__tab-item-ticket {
					background: url("../img/svg/ticket-g.svg") no-repeat;
				}
			}

			&-card {
				background: url("../img/svg/cart-w.svg") no-repeat;
			}

			&-pas {
				background: url("../img/svg/people-w.svg") no-repeat;
			}

			&-ticket {
				background: url("../img/svg/ticket-w.svg") no-repeat;
			}
		}
	}

	&__cash {
		font-size: 40px;
		color: #fff;
		font-family: 'Open Sans Bold';
		text-align: center;
	}

	&__balance, &__tel {
		font-size: 20px;
		color: #fff;
		font-family: 'Open Sans Bold';
	}

	&__lk {
		font-size: 24px;
		color: #fff;
		font-family: 'Open Sans Bold';
		text-align: center;
		line-height: 24px;
		padding: @sp 0 0;
		text-transform: uppercase;
	}

	&__cash {
		margin-bottom: 5px;
	}

	&__tel {
		margin-bottom: 5px;
		font-size: 28px;
		text-align: center;
		padding: @sp 0 0 0;
	}

	&__left {
		text-align: left;

	}

	&__right {
		text-align: right;
	}
}