.input {


	&__wrap {
	display: inline-block;
	position: relative;
	border-radius: @sp/3;
	margin-bottom: @sp/3;
	border: 1px solid @green;
	padding: 25px 10px 5px;
	background-color: #fff;
	font-family: 'PTSans-Regular';
	font-size: 24px;
	text-align: center;
	text-align: left;
	}

	&__elem {
		border: 0px;
		outline: none;
	}

	&__text {
		position: absolute;
		top: 3px;
		left: 10px;
		color: @gray;
	}

}

