.input {


	&__wrap {
		display: inline-block;
		position: relative;
		border-radius: 10px;
		margin-bottom: @sp;
		padding:27px @sp 27px 80px ;
		background-color: #fff;
		font-family: 'Open Sans Semibold';
		width: 100%;
		font-size: 38px;
		text-align: left;


		
		&:after {
			content: "\f34e";
			position: absolute;
			padding: @sp @sp/3;
			font-size: 65px;
			color: @green;
			box-sizing: border-box;
			top: 0;
			left: 0;
			width: 100.5%;
			height: 100%;
			background-color: #FFF;
			border-radius: 10px;
			border: 3px solid @gray_light;
			z-index: 20;
			font-family: "Material Design Icons";
		}

		&.index {
			z-index:1000;
		}
		
		&.active {
			
			& .input__text {
				font-size: 16px;
				top: 10px;
	    		left: 80px;
			}
		}
	}

	&__elem {
		position: relative;
		z-index:100;
		border: 0px;
		outline: none;
		width: 100%;
		background-color: rgba(0, 0, 0, 0);
		
	}

	&__text {
		position: absolute;
		transition: .3s;
		z-index:50;
	    top: 25px;
	    left: 80px;
		color: @gray;
		font-size: 38px;
		text-transform: uppercase;
	}

	&__comment {
		position: absolute;
		font-size: 20px;
	    bottom: 8px;
	    left: 87px;	
	    z-index:25;
	    font-family: 'Open Sans';		
	}

	&__hint {
		position: absolute;
		width: 100.5%;
		height: 0;
		top: 20px;
		left: 0;
		border:3px solid @gray_light;
		box-sizing: border-box;
		background-color: #FFF;
		border-radius: 10px;
		padding: 75px 10px 0;
		transition: .3s;
		overflow: hidden;
		z-index:10;
		
		&.active {
			height: 340px;
		}

		&__list {
			margin-top: 25px;
		}
		
		&__elem {
			display: inline-block;
			width: 32.7%;
			background-color: @green;
			border-radius: 10px;
			padding: 10px 25px;
			margin-bottom: 10px;
			color: #fff;
			
			&:hover {
				box-shadow: inset 0px 5px 2px 0px rgba(0, 0, 0, 0.23);
			}

			&:active {
				background-color: @green_dark;
			}

		}

		&__link {
			color: #fff;
			text-decoration: none;
		}

		&__name {
			font-family: 'Open Sans Bold';
			font-size: 30px;
		}

		&__text {
			font-family: 'Open Sans';
			font-size: 16px;
		}


	}

}

