.insert-card {
	display: flex;
	padding: 83px 65px 85px;
	
	&__images {
		display: flex;
		margin-right: @sp*2;
		img {
			margin-right: 25px;
			
			&:last-child {
				width: 300px;
				height: 190px;
			}
		}


	}

	&__text {
		font-size: 29px;
		font-family: 'Open Sans Bold';
		color: rgb(0, 0, 0);
		line-height: 1.552;
		width: 40%;
	}

	&__text-bottom {
		font-size: 38px;
		font-family: 'Open Sans Extrabold';
		line-height: 0.842;
		text-align: center;
		color: @gray;
	}
}




