.lk {
	&__tab-card {
		&-title {
			font-size: 35px;
			text-transform: uppercase;
			font-family: "Open Sans Bold";
		}
	}

	&__card {
		background: url("../img/card-bg.png") no-repeat;
		background-position: center;
		border-radius: 30px;
		width: 545px;
		height: 340px;
		margin: 0 auto 40px;

		&-discount {
			color: @gray;
			padding: 40px;
			font-size: 14px;
			text-align: left;
			font-family: "Open Sans Bold";
			text-transform: uppercase;
		}

		&-num {
			color: #fff;
			margin-top: 2*@sp;
			padding: 0 40px;
			font-size: 48px;
			text-align: left;
			font-family: "Open Sans Bold";
		}

		&-expire {
			color: #fff;
			margin-top: @sp;
			padding: 0 40px;
			font-size: 14px;
			text-align: left;
			font-family: "Open Sans";
			text-transform: uppercase;

			&_date {
				font-family: "Open Sans Bold";
				font-size: 24px;
			}
		}

		&-name {
			color: #fff;
			margin-top: @sp;
			padding: 0 40px;
			font-size: 24px;
			text-align: left;
			font-family: "Open Sans Bold";
			text-transform: uppercase;
		}
	}

	.title {
		margin-top: 120px;
		font-size: 55px;
		line-height: 1.3;
		margin-bottom: 73px;
	}

	.btn_orange_fill {
		i {
			font-size: 45px;
		}
		.icon-nfs {
			font-size: 55px;
			
		}
	}
	&__tell {
		&-inputpin {
			border-style: solid;
			border-width: 5px;
			border-color: rgb(201, 203, 216);
			border-radius: 10px;
			background-color: rgb(255, 255, 255);
			height: 120px;
			font-size: 60px;
			
			text-align: center;
			margin: 0 auto;
			margin-bottom: 75px;
			width: 565px;
			outline: none;
			font-family: 'Open Sans Bold';
			display: block;
		}
		&-btns {
			width: 403px;
			margin: 0 auto 63px;
			.clearfix
			.btn_gray {
				text-align: center;
				span.btn_title__text {
					text-align: center !important;
					display: block;
				}
			}
			.btn_orange_fill {
				text-align: center;
				span.btn_title__text {
					text-align: center !important;
					display: block;
				}
			}
		}
	}
	&__pin {
		margin-top: -10px;
		text-align: center;
		&-label {
			font-size: 38px;
			font-family: 'Open Sans Extrabold';
			color: rgb(171, 171, 171);
			text-transform: uppercase;
			line-height: 0.842;
			text-align: center;
			margin-bottom: 25px;
		}
		&-inputpin {
			border-style: solid;
			border-width: 5px;
			border-color: rgb(201, 203, 216);
			border-radius: 10px;
			background-color: rgb(255, 255, 255);
			height: 130px;
			font-size: 155px;
			letter-spacing: -5px;
			text-align: center;
			margin-bottom: 20px;
			width: 345px;
			outline: none;
		}
		&-btns {
			width: 645px;
			margin: 0 auto 50px;
			.clearfix
			.btn_gray {
				text-align: center;
				span.btn_title__text {
					text-align: center !important;
					display: block;
				}
			}
			.btn_orange_fill {
				text-align: center;
				span.btn_title__text {
					text-align: center !important;
					display: block;
				}
			}

			&_buy-22 {
				width: 505px;
			}
		}

		&_buy-22 {
			margin-top: 25px;
			
			& .lk__pin-inputpin {
				width: 305px;
				height: 130px;
				margin-bottom: 50px;
			}

		}
	}
	&__btns-2 {
		width: 700px;
		margin: 0 auto 33px;
		.clearfix
		.btn_title {
			margin-top: 1px;
		}
		.btn_title {
			margin-top: 0;
		}
	}
	&__allert {
		background: @green;
		color: white;
		font-size: 22px;
		height: 58px;
		margin-top: 3px;
		line-height: 58px;
		position: absolute;
		width: 100%;


		&-tell {
			font-family: 'Open Sans Bold';
		}
		&-logo {
			height: 58px;
			width: 44px;
			background: url(../img/logo-w.svg) no-repeat;
			background-position: center;
			background-size: 100%;
			margin-right: @sp;
			float: left;

		}
		&-text {
			float: left;
		}
		&_white {
			background: white;
			text-align: center;
			color: black;
			margin-top: 0;
			height: 90px;
			line-height: 90px;
			position: relative;
			.lk__allert-text {
				text-align: center;
				font-family: 'Open Sans Bold';
				font-size: 40px;
				float: none;
			}
		}
	}
	&-menu {
		background: white;
		height: 1024px - 130px;
		width: 365px;
		float: right;
		&__wrap {
			display: flex;
			flex-direction: column;
			justify-content: space-between; 
			height: @height-c;
			padding-left: @sp*2;
		}
		&_wr {
			width: 100%;
			height: @height-c;

            &_tabs {
              height: 680px;
            }

			&-left {
				float: left;
				width: @width-lr;
				height: 1024px - 130px;

				&_tabs {
					height: 680px;
				}
			}
			&-center {
				float: left;
				
				height: @height-c;
				width: @width-c;

				&_tabs {
					height: 680px;

					&-700 {
						height: 700px;
					}
				}
			}
			&-right {
				float: left;
				background: white;
				width: @width-lr;
				height: @height-c;
			}
		}
		&__top {
			margin-top: 75px;
		}
		&__title {
			font-size: 29px;
			color: black;
			font-family: 'Open Sans Extrabold';
			text-transform: uppercase;
			line-height: 1;
			height: 30px;
			margin-bottom: 15px;
		}
		&__tell {
			font-size: 42px;
			color: @green;
			font-family: 'Open Sans Extrabold';
			text-transform: uppercase;
			line-height: 1;
			height: 42px;
			margin-bottom: 40px;
			letter-spacing: -1.3px;
		}
		&__list {

		}
		&__item {
			border-bottom: 3px solid @gray_light;
			border-top: 3px solid @gray_light;
			margin-top: -3px;
			padding: 25px 0;
		}
		&__name {
			color: #adadac;
			font-size: 22px;
			line-height: 1;
			height: 22px;
			font-family: 'Open Sans Extrabold';
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		&__value {
			font-size: 45px;
			color: black;
			font-family: 'Open Sans Extrabold';
			text-transform: uppercase;
			line-height: 1;
			height: 45px;
			span {
				font-family: 'Open Sans Bold';
				font-size: 24px;
				text-transform: lowercase;
			}
			i {
				// font-size: 40px;
				margin-left: 3px;

			}
		}
		&__bottom {
			margin-bottom: 35px;
			.btn {
				margin-bottom: @sp;
			}
			.lk-menu__title {
				margin-bottom: 25px;
			}
		}
		&__btn {
			.btn {
				padding: 0 30px;
			}
			i {
				font-size: 48px;
				float: left;
			}
			&-cards {
				background: url(../img/svg/cards.svg) no-repeat;
				background-size: auto 29px;
				background-position: center;
				width: 146px;
				height: 70px;
				float: left;
				margin-right: 10px;
			}
			
		}
	}

	&__table {
		margin: 45px 0 50px;
		border: 3px solid #c9cbd8;
		border-radius: 10px;
		overflow: auto;
		max-height: 326px;

		&_noscroll {
			max-height: none;
			overflow: visible;
		}

		&-row {
			display: flex;
			background-color: white;
			overflow: hidden;
			justify-content: space-between;
			height: 79px;
			align-items: center;
			padding: 0 32px;
			border-bottom: 3px solid #c9cbd8;

			&_tickets {
				height: 150px;
				padding: 0;
			}

			&:first-child {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			&:last-child {
				border-bottom: none;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}

			&-item {
				font-family: 'Open Sans Semibold';
				font-size: 22.7px;
				color: black;
				line-height: 1;

				& .mdi-credit-card {
					min-width: 240px;
					display: inline-block;
				}

				&-document {
					width: 170px;
				}

				&-ico {
					background: url(../img/svg/man-g.svg) no-repeat;
					background-position: left;
					height: 35px;
					padding-left: 48px;
					display: table-cell;
					vertical-align: middle;
					min-width: 486px;
					text-transform: uppercase;
				}

				span {
					&:before {
						color: @orange;
						font-size: 48px;
						vertical-align: middle;
						padding-right: 10px;
					}
				}

				&_thin {
					font-family: 'Open Sans';
					font-size: 20px;
				}
			}
		}

		&-ticket-name {
			display: inline-block;
		}
	}


}