.order-info {
    display: inline-block;
	max-width: 90%;
    min-width: 740px;
	border: 3px solid @gray_light;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    
    &__head {
    	text-align: center;
    	padding: @sp;
    	font-size: 32px;
    	font-family: 'Open Sans Bold';
    	text-transform: uppercase;
    	background-color: #f1f2f7;
    	border-bottom: 3px solid @gray_light;
    }

    &__body {
    	background-color: #fff;
    	padding: 20px 0 ;

    }

    &__table {
    	font-family: 'Open Sans Bold';
    	font-size: 28px;
    	color: #000;
        margin: 0 auto;
        padding: 0 10px;
        width: 100%;
    	
    	tr td:first-child {
    		font-family: 'Open Sans Bold';
    		color: @gray;
    		font-size: 22px;
    		text-transform: uppercase;
    		width: 240px;
    		text-align: left;
    		padding-bottom: @sp/3;
            padding-top: 6px;
    	}

    	td {
    		vertical-align: top;
    		line-height:1.3;
    		margin: 0;
    		padding: 0;
    		height: 45px;
    		padding-left: @sp;
            text-align: left;
            
    	}
        &_take {
           tr td:first-child {
             padding-top: 12px;
           }
        }
    }


    &__cost-rub {
    	font-family: 'Open Sans Extrabold';
    	font-size: 36px;
    	
    	& i {
	    	font-size: 33px; 
	    	font-weight: bold;  		
    	}
    }

    &__cost-cop {
    	font-family: 'Open Sans Bold';
    	font-size: 21px;
    }

    &__from-to {
        .clearfix;
        display: inline-block;
        text-align: left;
        margin: 0 auto;
        padding: 0 @sp/3;
        
        &__title {
            float: left;
            margin-right: @sp;
        }
        &__sity {
            position: relative;
            min-width: 110px;
            margin: 0 @sp 0 @sp;
            top: -5px;
            float: left;
            position: relative;
            font-size: 24px;
            font-family: 'Open Sans Bold';
            text-transform: uppercase;
        }

        &__dash {
            float: left;
            width: 55px;
            height: 25px;
            background-image: url(../img/svg/dash.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center;

        }

        &__station {
            position: absolute;
            width: 190px;
            height: 29px;
            overflow: hidden;
            font-size: 16px;
            font-family: 'Open Sans';
            line-height: 0.875;
            text-transform: none;
        }
    }
}


