.order-card {
	.title {
	    margin-top: 85px;
	    margin-bottom: 55px;
	    line-height: 1;
	    font-size: 55px;
		
		& span {
			color: @gray;
			text-transform: lowercase;
		}

		&_margin-top-125 {
			margin-top: 125px;
		}
	}

	&__text {
		text-align: center;
		color: @gray;
		fofont-family: 'Open Sans Semibold';
		font-size: 30px;
		margin-bottom: @sp*2;
		
		&_bold {
			font-family: 'Open Sans Extrabold';
			font-size: 38px;
		}

		i {
			position: relative;
			top: 3px;
			font-size: 39px;
			line-height: 0;
		}
	}

	&_end {
		.title {
			margin-top: 175px;
			margin-bottom: 75px;
		}

		.loading {
			margin-bottom: 30px;
		}
	}
}
