/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}



.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	outline: none;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}

.slider-abiut {
	h3 {
		margin-bottom: @sp;
	}
	margin-top: @sp;
	img {
		width: 100%;
		margin-bottom: @sp;
	}
   .slick-arrow {
	position: absolute;
	top: calc(50% - 20px);
   }


}

.slick-dots {
	text-align: center;
	display: block;
	margin-left: 0;
	margin-top: @sp;


	li {
	display: inline-block;
	padding: 0;
	margin: 50px 0 0 -2px;
		button {
			display: none;
		}
		&:before {
			content: "";
			font-family: FontAwesome;
			font-size: 12px;
			cursor: pointer;
			margin: 0 5px;
			width: 18px;
			height: 18px;
			background: #d7d9e7;
			display: inline-block;
			border-radius: 50%;
			border: 3px solid white;
			transition: all 0.2s;
		}
		&:hover:before {
			background: @green;
		}

		&.slick-active {
			color: red;
			&:before {
				background: @green;
				box-shadow: 0px 0px 0px 2px @green;
				border: 3px solid white;
			}
		}
	}
}

	.slider{
		.clearfix;
		
		
		.row {
		    margin-left: 0px;
		    margin-right: 0px;
		}

		.col-xs-4 {
			padding-left: @sp/3;
	    	padding-right: @sp/3;
	    	margin-bottom: @sp/3;
		}


		&__wrap {
			height: 460px;
			.clearfix;
			
			&_bus {
				height: 225px;
			}
		}

		&__block {
			width: 100%;
			height: 225px;

			
			&_date {
				width: 100%;
				height: 155px;
				border-top: 3px;
				border-left: 3px;
				border-bottom: 0px;
				border-right: 3px;
				border-style:solid;
				border-radius: 13px 13px 0 0;
				border-color: @gray_light;
				box-sizing: border-box;
				padding: @sp 25px;
				background-color: #fff;
			}

			&_prise {
				width: 100%;
				height: 65px;
				background-color: @orange;
				text-align: center;
				border-radius: 0 0 13px 13px;
				color: #fff;
				font-family: 'Open Sans Bold';
				font-size: 42px;
				line-height: 1.6;
				
				& i {
					font-size: 38px;
				}
			}

			&_go-to {
				color: @gray;
				font-family: 'Open Sans Semibold';
				font-size: 16px;
				line-height: 1;
				.clearfix;
				
				& span:last-child {
					float: right;
				}
			}

			&_time {
				font-family: 'Open Sans Bold';
				font-size: 38px;
				text-align: center;
				line-height: 1;
				.clearfix;
				& span:last-child {
					float: right;
				}

				& span:first-child {
					float: left;
				}
			}

			&_days {
				color: @gray;
				font-family: 'Open Sans Semibold';
				font-size: 16px;
				line-height: 1;
				.clearfix;
				
				& span {
					float: right;
				}
			}

			&_transfer {
				color: @orange;
				font-family: 'Open Sans Semibold';
				font-size: 20px;
				line-height: 1;
				margin-bottom: @sp/3;
				padding-left: @sp/3;
				opacity: 0;
				.clearfix;
				
				&.active {
					opacity: 1;	
				}
				
				& i {
					margin-right: @sp/3;
					font-size: 15px;
				}
			}

			&_total-time {
				color: @gray;
				font-family: 'Open Sans Semibold';
				font-size: 20px;
				line-height: 1;
				.clearfix;
				
				& i {
					font-size: 22px;
					margin-right: @sp/3;
				}			
			}
		}
	}

	/*исправления*/

	.slick-prev {
		display: inline-block;
		height: 100%;
		position: relative;
		float: left;
		background-color: transparent;
		border:0;
		color:  transparent;
		outline: none;
		width: 80px;
		margin-right: 25px;
		
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: 200px;
			color: @green;
			display: inline-block;
			background-image: url(../img/svg/arrow_green.svg);
			background-repeat: no-repeat;
			background-position: center center;
		}
		
	}

	.slick-list {
		display: inline-block;
		float: left;
		width: 81.5%;
	}

	.slick-next {
		display: inline-block;
		height: 100%;
		position: relative;
		float: left;
		background-color: transparent;
		border:0;
		color:  transparent;
		outline: none;
		width: 80px;
		margin-left: 25px;
		
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: 200px;
			color: @green;
			display: inline-block;
			background-image: url(../img/svg/arrow_green.svg);
			background-repeat: no-repeat;
			background-position: center center;
			transform: rotate(180deg);
		}
	}

