.text {
	color: @gray;
	border-radius: @sp/3;
	margin-bottom: @sp/3;
	font-family: 'Open Sans Semibold';
	font-size: 30px;
	
	&_small {
		font-size: 16px;
		color: @gray;
	}

	&_italic {
		font-family: 'Open Sans Italic';
		color: #000;
		font-size: 20px;
	}

	&_padding-90 {
		padding: 0 @sp*6;
	}
}

