@sp: 15px;


@green: #73b548;
@green_light: #D5F2D2;
@green_dark: #558a32;
@orange: #ed7506;
@orange_dark: #d36500;
@gray_dark: #54585a;
@gray: #acacac;
@gray_light: #c9cdda;
@blue: #17355D;
@ellow: #eada00;


// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
