@sp: 15px;

@green: #73b548; //основной зеленый
@green_light: #D5F2D2;
@green_dark: #558a32;
@orange: #ed7506; //основной оранжевый
@orange_dark: #c36005; //испльзуется когда кнопка нажата
@gray_dark: #7c7e84; //испльзуется в днях недели календаря
@gray: #acacac; //серый текст
@gray_light: #c9cdda; //бордеры у инпутов и таблиц
@gray-body: #e9eaf2;
@width-c: 1150px; // ширина контента
@height-c: 894px; //высота контента без шапки
@height-c-: 894px; //высота контента без шапки
@width-lr: calc(~"(100% - 1150px) / 2" );
@blue: #3a70b8;

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}





