* {
	box-sizing: border-box;
}

html {
	height: 100%;	
}

body {
	height: 100%;
	background-color: #e9eaf2;
}

ul, li {
	list-style: none;
	margin:0;
	padding:0;
}

@import 'all/bootstrap/less/bootstrap.less';
@import 'all/materialdesignicons.less';

@import 'all/bootstrap-datepicker/bootstrap-datepicker.less';
@import 'all/bootstrap-datepicker/bootstrap-datepicker.standalone.less';
@import 'all/bootstrap-datepicker/bootstrap-datepicker3.less';
@import 'all/bootstrap-datepicker/bootstrap-datepicker3.standalone.less';


@import 'all/mixins.less';
@import 'all/variables.less';
@import 'all/fonts.less';
@import 'all/normalize.less';
@import 'all/wrapper.less';
@import 'all/title.less';
@import 'all/header.less';
@import 'all/footer.less';

@import 'all/container.less';

@import 'all/btn.less';
@import 'all/input.less';
@import 'all/text.less';
@import 'all/history-ticket.less';
@import 'all/checkbox.less';
@import 'all/time.less';
@import 'all/arrow-back.less';
@import 'all/datapicker.less';
@import 'all/bg-main.less';
@import 'all/language.less';
@import 'all/arrows-circle.less';
@import 'all/passengers.less';
@import 'all/content-center.less';
@import 'all/from-to.less';
@import 'all/menu-nav.less';
