* {
	box-sizing: border-box;
}

html {
	height: 100%;	
}

body {
	height: 100%;
	background-color: #e9eaf2;
}

ul, li {
	list-style: none;
	margin:0;
	padding:0;
}

@import 'all/bootstrap/less/bootstrap.less';
@import 'all/bootstrap-select/bootstrap-select.less';
@import 'all/materialdesignicons.less';
@import 'all/rub.less';
@import 'all/simplebar/simplebar.less';

@import 'all/jquery-ui.less';

@import 'all/mixins.less';
@import 'all/variables.less';
@import 'all/fonts.less';
@import 'all/normalize.less';
@import 'all/wrapper.less';
@import 'all/title.less';
@import 'all/header.less';
@import 'all/footer.less';



@import 'all/btn.less';
@import 'all/input.less';
@import 'all/text.less';
@import 'all/history-ticket.less';
@import 'all/checkbox.less';
@import 'all/time.less';
@import 'all/arrow-back.less';
@import 'all/datapicker.less';
@import 'all/bg-main.less';
@import 'all/language.less';
@import 'all/arrows-circle.less';
@import 'all/content-center.less';
@import 'all/from-to.less';
@import 'all/menu-nav.less';
@import 'all/way.less';
@import 'all/slider.less';
@import 'all/search-filter.less';
@import 'all/departure.less';
@import 'all/ticket-info.less';
@import 'all/counter.less';
@import 'all/block-info.less';
@import 'all/select-route.less';
@import 'all/bus.less';
@import 'all/legend.less';
@import 'all/passenger-block.less';
@import 'all/ui-datepicker.less';
@import 'all/lk.less';
@import 'all/order.less';
@import 'all/card_marker.less';
@import 'all/passenger-wrap.less';
@import 'all/passenger-wrap-elpas.less';
@import 'all/bootstrap-select.less';

@import 'all/document-list.less';
@import 'all/popup.less';
@import 'all/order-card.less';
@import 'all/loading.less';
@import 'all/order-info.less';
@import 'all/order-ticket.less';
@import 'all/amount-to-payment.less';
@import 'all/keyboard.less';
@import 'all/insert-card.less';
@import 'all/authorization-successful.less';
@import 'all/qrcode.less';
@import 'all/city-intercity.less';
@import 'all/comments.less';
@import 'all/confirm-request.less';
@import 'all/my-cards.less';
@import 'all/my-tickets.less';
@import 'all/baggage-allowance.less';



@import 'all/container.less';