.container
	.container__main
		.container__wrap-min
			h1.title пополнить баланс
				.title_orange +7 916 123 45 67
			a.btn.btn__img-right(href="#") Наличными
				img(src="img/wallet.png")
			a.btn.btn__img-right.btn__img-width-80(href="#") Картой
				img(src="img/visa.png")
			br
			a.btn(href="#") Отмена

