.container 
	.ticket-info 
		.ticket-info__left
			.ticket-info__left-wrap
				.ticket-info__whence 
					.ticket-info__whence-sity Москва
					.ticket-info__whence-sity-line
					.ticket-info__text Автостанция «Центральная», <br> М. «Щелковское» 
					.ticket-info__data
						.ticket-info__data-wrap
							.ticket-info__data-data 16 мая 2017
							.ticket-info__data-time 16:30  
								span (UTC +3)

				.ticket-info__were
					.ticket-info__were-sity Екатеринбург
					.ticket-info__text Автовокзал
					.ticket-info__data
						.ticket-info__data-wrap
							.ticket-info__data-data 16 мая 2017
							.ticket-info__data-time 16:30 
								span (UTC +3)
						.ticket-info__travel-time 
							.ticket-info__travel-time-title <i class="mdi mdi-clock"></i>В пути:
							.clearfix
							.ticket-info__travel-time-text 1 дн. 1 ч. 30 мин.
		.ticket-info__right 
			.ticket-info__price
				.ticket-info__price-title Цена билета<br>(полный)
				.ticket-info__price-price 999 300<i class="ico icon-rb-m"></i>
			





	.ticket-info__result 
		.ticket-info__result-time 
			.ticket-info__result-time-title отправление через:
			.ticket-info__result-time-value 25 дн. 12 ч. 7 мин.
		.ticket-info__result-price Итоговая стоимость:
				span 1 240<i class="ico icon-rb-m"></i>
			
	.btn_center-wrap
		a.btn.btn_orange_fill.btn_center.btn_center-big(href="#") Забронировать места
