.container
	.row
		.col-xs-12.content-center 
			.bus__top
				.bus__top-title Москва — Екатеринбург
				.bus__top-data 15 мая 2017 14:30
				.bus__top-place Выбранные места: 
					span 22
			

	.row
		.col-xs-12 
			.bus.bus_one.bus_single
				.bus__places
					.bus__plase.bus__plase_free#place_1 1
					.bus__plase.bus__plase_free#place_2 2
					.bus__plase.bus__plase_free#place_3 3
					.bus__plase.bus__plase_free#place_4 4
					.bus__plase#place_5 5
					.bus__plase.bus__plase_free#place_6 6
					.bus__plase.bus__plase_free#place_7 7
					.bus__plase.bus__plase_free#place_8 8
					.bus__plase.bus__plase_free#place_9 9
					.bus__plase.bus__plase_free#place_10 10
					.bus__plase.bus__plase_free#place_11 11
					.bus__plase.bus__plase_free#place_12 12
					.bus__plase.bus__plase_free#place_13 13
					.bus__plase.bus__plase_free#place_14 14
					.bus__plase.bus__plase_free#place_15 15
					.bus__plase.bus__plase_free#place_16 16
					.bus__plase#place_17 17
					.bus__plase#place_18 18
					.bus__plase#place_19 19
					.bus__plase#place_20 20
					.bus__plase#place_21 21
					.bus__plase#place_22 22
					.bus__plase#place_23 23
					.bus__plase#place_24 24
					.bus__plase#place_25 25
					.bus__plase#place_26 26
					.bus__plase#place_27 27
					.bus__plase#place_28 28
					.bus__plase#place_29 29
					.bus__plase#place_30 30
					.bus__plase#place_31 31
					.bus__plase#place_32 32
					.bus__plase#place_33 33
					.bus__plase#place_34 34
					.bus__plase#place_35 35
					.bus__plase#place_36 36
					.bus__plase#place_37 37
					.bus__plase#place_38 38
					.bus__plase#place_39 39
					.bus__plase#place_40 40
					.bus__plase#place_41 41
					.bus__plase#place_42 42
					.bus__plase#place_43 43
					.bus__plase#place_44 44
					.bus__plase#place_45 45
					.bus__plase#place_46 46
					.bus__plase#place_47 47
					.bus__plase#place_48 48
					.bus__plase.bus__plase_chosen#place_49 49
					
	.row
		.col-xs-12.content-center
			.legend
				.legend__wrap
					.legend__element
						.legend__icon.legend__icon_free
						.legend__text Место свободно
					.legend__element
						.legend__icon
						.legend__text Место занято
					.legend__element
						.legend__icon.legend__icon_chosen
						.legend__text Место занято
	.row
		.col-xs-12.content-center
			a.btn.btn_orange_fill.btn_order-pay(href="#") ПОСМОТРЕТЬ ЗАКАЗ И ОПЛАТИТЬ