.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h1.title Заберите квитанцию 
					.row
						.col-xs-2
						.col-xs-8
							.loading
								img(src="img/loading.gif")
						.col-xs-2

					.row
						.col-xs-2
						.col-xs-8
							
							.order-card__text
								i.mdi.mdi-clock 
								span Идет печать квитанции
						.col-xs-2

					.row
						.col-xs-12.content-center
							.order-info 
								.order-info__head Номер счета в ЭЛПАСС: +7 (999) 123 45 67
								.order-info__body
									table.order-info__table.order-info__table_take
										tr
											td текущий Баланс:
											td 
												span.order-info__cost-rub 4 560
													i.mdi.mdi-currency-rub
												span.order-info__cost-cop 00 коп
										tr
											td <nobr>Пополнен наличными:</nobr>
											td 
												span.order-info__cost-rub 4 560
													i.mdi.mdi-currency-rub
												span.order-info__cost-cop 	

		

	