.bg-content
	.container
		.row
			.col-xs-12
				.lk 
					h1.title вход в личный кабинет
					.row
						.col-xs-2
						.col-xs-8
							.lk__pin
								.lk__pin-label телефон в формате: (999) 11 22 33
								input.lk__tell-inputpin(type="tel" maxlength="11") 
							.lk__tell-btns
								a.btn.btn_width-100.btn_big.btn_orange_fill.btn_dasabled(href="#") Продолжить
							//- для не активной кнопки - .btn_dasabled 
		



			

	