.bg-content
	.container
		.row
			.col-xs-12
				.lk 
					h1.title Выберите способ входа <br> в личный кабинет
					.row
						.col-xs-2
						.col-xs-8
							.lk__btns-2
								a.btn.btn_title.btn_orange.btn_orange_fill(href="#")
									span.btn_title__img 
										<i class="mdi mdi-cellphone-android"></i>
									span.btn_title__text Введите номер телефона
									
								a.btn.btn_title.btn_orange.btn_orange_fill(href="#") 
									span.btn_title__img 
										<i class="mdi mdi-qrcode-scan"></i>
									span.btn_title__text отсканируйте qr-код
									
								a.btn.btn_title.btn_orange.btn_orange_fill(href="#") 
									span.btn_title__img 
										<i class="ico icon-nfs"></i>
									span.btn_title__text Приложите карту
								a.btn.btn_title.btn_orange.btn_orange_fill(href="#") 
									span.btn_title__img 
										<i class="mdi mdi-credit-card"></i>
									span.btn_title__text Вставьте карту

						.col-xs-2
					