.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h1.title Вход в личный кабинет

					.row
						.col-xs-12
							.insert-card.insert-card_mini
								.insert-card__text Приложите к считывателю бесконтактную карту.
								.insert-card__images
									img(src="img/svg/wave.svg")
					.row
						.col-xs-2
						.col-xs-8
							.loading.loading_margin-bottom_5
								img(src="img/loading.gif")
						.col-xs-2

					.row
						.col-xs-2
						.col-xs-8
							
							.order-card__text.order-card__text_bold
								i.mdi.mdi-clock 
								span 45 сек.
						.col-xs-2

					.row
						.col-xs-2
						.col-xs-8.content-center
							a.btn.btn_big.btn_gray(href="#") отмена								
						.col-xs-2

