.bg-content
	.container
		.row
			.col-xs-12
				.lk 
					h1.title Выберите способ входа <br> в личный кабинет
					.row
						.col-xs-2
						.col-xs-8
							.lk__btns-2
								a.btn.btn_title.btn_orange.btn_orange_fill(href="#")
									span.btn_title__img 
										<i class="mdi mdi-cellphone-android"></i>
									span.btn_title__text Введите номер телефона
									
								a.btn.btn_title.btn_orange.btn_orange_fill(href="#") 
									span.btn_title__img 
										<i class="mdi mdi-qrcode-scan"></i>
									span.btn_title__text отсканируйте qr-код
									
								a.btn.btn_title.btn_orange.btn_orange_fill(href="#") 
									span.btn_title__img 
										<i class="mdi mdi-nfc"></i>
									span.btn_title__text Приложите карту
								a.btn.btn_title.btn_orange.btn_orange_fill(href="#") 
									span.btn_title__img 
										<i class="mdi mdi-credit-card"></i>
									span.btn_title__text Вставте карту

						.col-xs-2
					//- .footer__wrap В случае необходимости позвоните в ООО «ЭЛПАСС» по елефону +7 (495) 235 55 77