.bg-content
	.lk__allert
		.container 
			.lk__allert-logo
			.lk__allert-text
				span Вы авторизовались в системе ЭЛПАСС: 
				span.lk__allert-tell +7 902 555 22 00
	.container.container_balance-replenishment
		.row
			.col-xs-12
				.lk.order
					h1.title Пополнение баланса

		.row
			.col-xs-2
			.col-xs-8
				.lk__pin
					.lk__pin-label Введите сумму
					input.lk__tell-inputpin(type="text") 
					.lk__service-tax
						.lk__service-tax_label Сервисный сбор
						.lk__service-tax_cost 0.00 р
		.row
			.col-xs-12
				.block_info.block_info_padding-33
					<i class="mdi mdi-information-outline"></i>
					.block_info__text.block_info__text_bold Минимальная сумма пополнения 50 рублей.<br>		Максимальная сумма пополнения 15 000 рублей
						.lk__service-tax_notice Сервисный сбор при пополнении баланса наличными денежными средствами составит х% и у рублей

		.row
			.col-xs-2
			.col-xs-8
				.lk__pin-btns.lk__pin-btns_buy-22
					a.btn.btn_big.btn_width-100.btn_orange_fill.btn_orange(href="#")
						span.btn_title__text Продолжить
			.col-xs-2