.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h1.title Заказ №1334 4553 445

	.amount-to-payment
		.container
			.row
				.col-xs-12
					.amount-to-payment__text сумма<br> к оплате
					.amount-to-payment__sum 
						span 4 560 
							i.mdi.mdi-currency-rub
						| 00 коп
	.container
		.row
			.col-xs-2
			.col-xs-8.content-center
				.input__wrap.input__wrap_center
					input.input__elem#input__sum(type="text", placeholder="")
					.input__text внесенная сумма
			.col-xs-2

			.row
			.col-xs-1
			.col-xs-10
				.block_info.block_info_padding-33
					<i class="mdi mdi-information-outline"></i>
					.block_info__text.block_info__text_bold Вставьте купюры номиналом 50, 100, 500 и 1000 рублей.
				.text.text_italic.text_padding-90 
					p Сдача будет зачислена на баланс вашей транспортной карты ЭЛПАСС. <br>Если у вас нет карты, то она будет выдана.
			.col-xs-1


		.row
			.col-xs-2
			.col-xs-8
				.row
					.col-xs-6
						a.btn.btn_margin-top.btn_width-100.btn_big.btn_orange_fill(href="#") оплатить
					.col-xs-6
						a.btn.btn_margin-top.btn_width-100.btn_big.btn_gray(href="#") отмена
			.col-xs-2

	