.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h1.title Заберите Билеты: 
						span 1 из 2  
					.row
						.col-xs-2
						.col-xs-8
							.loading
								img(src="img/loading.gif")
						.col-xs-2

					.row
						.col-xs-2
						.col-xs-8
							
							.order-card__text
								i.mdi.mdi-clock 
								span Идет печать билетов (1 из 2)
						.col-xs-2

					.row
						.col-xs-12.content-center
							.order-info 
								.order-info__head
									.order-info__from-to 
										.order-info__from-to__title Билет:
										.order-info__from-to__sity Москва
											.order-info__from-to__station Павелецкий вокзал
										.order-info__from-to__dash
										.order-info__from-to__sity Владимир
											.order-info__from-to__station Автовокзал Владимир

								.order-info__body
									table.order-info__table
										tr
											td Паспорт:
											td 
												span 20170531 №000001
										tr
											td Пассажир:
											td 
												span 
													div +7 (900) 350 00 00 
													div Иван Петрович П.
		
