.lk-menu_wr.lk-menu_wr_tabs
	.lk-menu_wr-left.lk-menu_wr-left_tabs
	.lk-menu_wr-center.lk-menu_wr-center_tabs-700
		.tickets-back__slider
			.lk__table-row.lk__table-row_tickets
				.my-tickets__item-body
					.my-tickets__item-info.my-tickets__item-info_lk-table-item
						.my-tickets__item-info-dash
						.my-tickets__item-info__block
							.my-tickets__item_ticket-icon
							.my-tickets__item-info__date 20:00
								span 15 дек
							.my-tickets__item-info__city Москва
								span Павелецкий вокзал
						.my-tickets__item-info__block
							.my-tickets__item-info__date 15:30
								span 17 дек
							.my-tickets__item-info__city Владимир
								span Автовокзал Владимир
						.my-tickets__item-info__block.my-tickets__item-info__block_name-icon
							.my-tickets__table-row-item-ico Иван Сергеевич И.
						div
							a.btn.btn_green.btn_middle.btn_inner-table
								i.mdi.mdi-printer
								| Печать
					.my-tickets__item-bottom
						div
							a.btn.btn_gray.btn_middle.btn_inner-table
								i.mdi.mdi-undo-variant
								| Возврат
						div 9600
							i.mdi.mdi-currency-rub

			.lk__table-row.lk__table-row_tickets
				.my-tickets__item-body
					.my-tickets__item-info.my-tickets__item-info_lk-table-item
						.my-tickets__item-info-dash
						.my-tickets__item-info__block
							.my-tickets__item_ticket-icon
							.my-tickets__item-info__date 20:00
								span 15 дек
							.my-tickets__item-info__city Москва
								span Павелецкий вокзал
						.my-tickets__item-info__block
							.my-tickets__item-info__date 15:30
								span 17 дек
							.my-tickets__item-info__city Владимир
								span Автовокзал Владимир
						.my-tickets__item-info__block.my-tickets__item-info__block_name-icon
							.my-tickets__table-row-item-ico Иван Сергеевич И.
						div
							a.btn.btn_green.btn_middle.btn_inner-table
								i.mdi.mdi-printer
								| Печать
					.my-tickets__item-bottom
						div
							a.btn.btn_gray.btn_middle.btn_inner-table
								i.mdi.mdi-undo-variant
								| Возврат
						div 9600
							i.mdi.mdi-currency-rub


			.lk__table-row.lk__table-row_tickets
				.my-tickets__item-body
					.my-tickets__item-info.my-tickets__item-info_lk-table-item
						.my-tickets__item-info-dash
						.my-tickets__item-info__block
							.my-tickets__item_ticket-icon
							.my-tickets__item-info__date 20:00
								span 15 дек
							.my-tickets__item-info__city Москва
								span Павелецкий вокзал
						.my-tickets__item-info__block
							.my-tickets__item-info__date 15:30
								span 17 дек
							.my-tickets__item-info__city Владимир
								span Автовокзал Владимир
						.my-tickets__item-info__block.my-tickets__item-info__block_name-icon
							.my-tickets__table-row-item-ico Иван Сергеевич И.
						div
							a.btn.btn_green.btn_middle.btn_inner-table
								i.mdi.mdi-printer
								| Печать
					.my-tickets__item-bottom
						div
							a.btn.btn_gray.btn_middle.btn_inner-table
								i.mdi.mdi-undo-variant
								| Возврат
						div 9600
							i.mdi.mdi-currency-rub

			.lk__table-row.lk__table-row_tickets
				.my-tickets__item-body
					.my-tickets__item-info.my-tickets__item-info_lk-table-item
						.my-tickets__item-info-dash
						.my-tickets__item-info__block
							.my-tickets__item_ticket-icon
							.my-tickets__item-info__date 20:00
								span 15 дек
							.my-tickets__item-info__city Москва
								span Павелецкий вокзал
						.my-tickets__item-info__block
							.my-tickets__item-info__date 15:30
								span 17 дек
							.my-tickets__item-info__city Владимир
								span Автовокзал Владимир
						.my-tickets__item-info__block.my-tickets__item-info__block_name-icon
							.my-tickets__table-row-item-ico Иван Сергеевич И.
						div
							a.btn.btn_green.btn_middle.btn_inner-table
								i.mdi.mdi-printer
								| Печать
					.my-tickets__item-bottom
						div
							a.btn.btn_gray.btn_middle.btn_inner-table
								i.mdi.mdi-undo-variant
								| Возврат
						div 9600
							i.mdi.mdi-currency-rub


			.lk__table-row.lk__table-row_tickets
				.my-tickets__item-body
					.my-tickets__item-info.my-tickets__item-info_lk-table-item
						.my-tickets__item-info-dash
						.my-tickets__item-info__block
							.my-tickets__item_ticket-icon
							.my-tickets__item-info__date 20:00
								span 15 дек
							.my-tickets__item-info__city Москва
								span Павелецкий вокзал
						.my-tickets__item-info__block
							.my-tickets__item-info__date 15:30
								span 17 дек
							.my-tickets__item-info__city Владимир
								span Автовокзал Владимир
						.my-tickets__item-info__block.my-tickets__item-info__block_name-icon
							.my-tickets__table-row-item-ico Иван Сергеевич И.
						div
							a.btn.btn_green.btn_middle.btn_inner-table
								i.mdi.mdi-printer
								| Печать
					.my-tickets__item-bottom
						div
							a.btn.btn_gray.btn_middle.btn_inner-table
								i.mdi.mdi-undo-variant
								| Возврат
						div 9600
							i.mdi.mdi-currency-rub




		.row
			.col-xs-3
			.col-xs-6.content-center
				a.btn.btn_orange_fill.btn_order-pay.btn_width-100(href="#") Купить билет
			.col-xs-3