.lk-menu_wr
	.lk-menu_wr-left
	.lk-menu_wr-center
		.row
			.my-tickets  
				h1.title Мои билеты
				.my-tickets__slider
					
						.my-tickets__slider-line 
							
								.col-xs-12 
									.my-tickets__item 
										.my-tickets__item-header
											.my-tickets__item-title 
												i.mdi.mdi-ticket
												span Заказ №1234 4444 001
											.my-tickets__item-time
												i.mdi.mdi-clock
												span 2 дн. 1 ч. 30 мин.
											.my-tickets__item-amount Билетов:
												span 1											
										.my-tickets__item-body
											.my-tickets__item-name 
												div 
													span Пассажиры: 
												div Виктор Петрович Б. , Елена Борисова Б.Виктор Петрович Б. , Елена Борисова Б.Виктор Петрович Б. , Елена Борисова Б. 
											.my-tickets__item-info
												.my-tickets__item-info-dash 
												.my-tickets__item-info__block
													.my-tickets__item-info__date 20:00
														span 15 дек
													.my-tickets__item-info__city Александровск-Сахалинский
														span Павелецкий вокзал
												.my-tickets__item-info__block
													.my-tickets__item-info__date 15:30
														span 17 дек
													.my-tickets__item-info__city петропавловск-камчатский
														span Автовокзал Владимир
												.my-tickets__item-info__block.my-tickets__item-info__block_last
													a.btn.btn_green
														i.mdi.mdi-printer
														|Печать													
								
						.my-tickets__slider-line
							
								.col-xs-12 
									.my-tickets__item.my-tickets__item_red 
										.my-tickets__item-header
											.my-tickets__item-title 
												i.mdi.mdi-ticket
												span Заказ №1234 4444 001
											.my-tickets__item-time
												i.mdi.mdi-clock
												span 2 дн. 1 ч. 30 мин.
											.my-tickets__item-amount Билетов:
												span 4											
										.my-tickets__item-body
											.my-tickets__item-name 
												div 
													span Пассажиры: 
												div Виктор Петрович Б. , Елена Борисова Б. 
											.my-tickets__item-info
												.my-tickets__item-info-dash
												.my-tickets__item-info__block
													.my-tickets__item-info__date 20:00
														span 15 дек
													.my-tickets__item-info__city Великий Новгород
														span Павелецкий вокзал
												.my-tickets__item-info__block
													.my-tickets__item-info__date 15:30
														span 17 дек
													.my-tickets__item-info__city Нижний новгород
														span Автовокзал Владимир
												.my-tickets__item-info__block.my-tickets__item-info__block_last
													.my-tickets__item-info__ready
														img.my-tickets__item-info__preloader.wheel(src="img/svg/road_bus.svg")
													.my-tickets__item-info__preloader-text Заберите билеты
														span Печать 1 из 4


													
						
				.my-tickets__btns 
					a.btn.btn_orange_fill.btn_width-100(href="#") Вернуть карту Элпасс №123456
				.footer__wrap.footer__wrap_small В случае необходимости позвоните в ООО «ЭЛПАСС» по телефону +7 (495) 235 55 77

			.lk-menu
				.lk-menu__wrap 
					.lk-menu__top
						.lk-menu__title личный кабинет
						.lk-menu__tell +7 916 123 45 67
						.lk-menu__list
							.lk-menu__item
								.lk-menu__name текущий баланс
								.lk-menu__value 5 500<i class="ico icon-rb-5"></i>
									span 00 коп. 
							.lk-menu__item
								.lk-menu__name действующая скидка
								.lk-menu__value 0%	
					.lk-menu__bottom 
						.lk-menu__title пополнить баланс
						.lk-menu__btn
							a.btn.btn_orange_fill.btn_width-100(href="#") 
								i.mdi.mdi-wallet 
								span Наличными
							a.btn.btn_orange_fill.btn_width-100(href="#") 
								.lk-menu__btn-tickets 
								span Картой
	.lk-menu_wr-right

				
		