.bg-content
	.lk__allert
		.container 
			.lk__allert-logo
			.lk__allert-text
				span Вы авторизовались в системе ЭЛПАСС: 
				span.lk__allert-tell +7 902 555 22 00
	.container
		.row
			.col-xs-12
				.lk.order
					h1.title Заказ №1234 4453 445 
					
					.order__infoblock
						.order__infoblock-line
						.order__infoblock-wrap
							.order__infoblock-start
								.order__infoblock-title Отправление
								.order__infoblock-info
									.order__infoblock-timedate 
										.order__infoblock-time 20:00
										.order__infoblock-date 15 Мая
									.order__infoblock-sity
										.order__infoblock-sity-name Москва
										.order__infoblock-sity-geo Павелецкий вокзал

								
							.order__infoblock-middle 
								.order__infoblock-title.order__infoblock-title_transfer 1 пересадка
								.order__infoblock-middle-time <i class="mdi mdi-clock"></i> 2дн. 10ч. 0мин.
								.order__infoblock-middle-ticket 4 билета
							.order__infoblock-finish
								.order__infoblock-title Прибытие 
								.order__infoblock-info
									.order__infoblock-timedate 
										.order__infoblock-time 20:00
										.order__infoblock-date 15 Мая
									.order__infoblock-sity
										.order__infoblock-sity-name Владимир
										.order__infoblock-sity-geo Автовокзал Владимир
					.order__ballans
						.order__ballans-line
							.order__ballans-title Текущий баланс
							.order__ballans-value.order__ballans-value_green 5 500<i class="mdi mdi-currency-rub"></i>
								span 00 коп.
						.order__ballans-line
							.order__ballans-title Сумма<br>к оплате
							.order__ballans-value 4 600<i class="mdi mdi-currency-rub"></i>
								span 00 коп.
						.order__btns
							a.btn.btn_title.btn_orange.btn_orange_fill(href="#")
								span.btn_title__text Списать 4 600<i class="mdi mdi-currency-rub"></i>
							a.btn.btn_title.btn_orange.btn_orange_fill.btn_gray(href="#")
								span.btn_title__text Вернуть карту 