.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h1.title Заказ №1334 4553 445

	.amount-to-payment
		.container
			.row
				.col-xs-12
					.amount-to-payment__text сумма<br> к оплате
					.amount-to-payment__sum 
						span 4 560
							i.ico.icon-rb-5
						| 00 коп
	.container
		.col-xs-2
		.col-xs-8

			.lk__pin.lk__pin_buy-22
				.lk__pin-label Введите пин-код
				input.lk__pin-inputpin(value='' type="password" maxlength="4")
			.lk__pin-btns.lk__pin-btns_buy-22
				a.btn.btn_title.btn_orange.btn_orange_fill.btn_gray(href="#")
					span.btn_title__text Отмена
		.col-xs-2



	