.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h1.title Заберите Билеты: 
						span 1 из 2  
					.row
						.col-xs-2
						.col-xs-8
							.loading
								img(src="img/loading.gif")
						.col-xs-2

					.row
						.col-xs-2
						.col-xs-8
							
							.order-card__text
								i.mdi.mdi-clock 
								span Идет печать билетов (1 из 2)
						.col-xs-2

					.row
						.col-xs-12.content-center
							.order-info 
								.order-info__head ЗАКАЗ №1234 4453 445
								.order-info__body
									table.order-info__table.order-info__table_take
										tr
											td СУММА К ОПЛАТЕ:
											td 
												span.order-info__cost-rub 4 560
													i.ico.icon-rb-5
												span.order-info__cost-cop 00 коп
										tr
											td Оплачено:
											td 
												span.order-info__cost-rub 4 560
													i.ico.icon-rb-5
												span.order-info__cost-cop 	

										tr
											td Сдача:
											td 
												span.order-info__cost-rub 0
													i.ico.icon-rb-5
												span.order-info__cost-cop 00 коп		
