.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h1.title Заберите карты пассажиров: 
						span 1 из 1  
					.row
						.col-xs-2
						.col-xs-8
							.loading
								img(src="img/loading.gif")
						.col-xs-2

					.row
						.col-xs-2
						.col-xs-8
							.order-info 
								.order-info__head ЗАКАЗ №1234 4453 445
								.order-info__body
									table.order-info__table
										tr
											td Выданная Карта:
											td №020050
										tr
											td Пассажир:
											td +7 (900) 350 00 00 <br>Иван Петрович П.									
						.col-xs-2

	//- .footer__wrap В случае необходимости позвоните в ООО «ЭЛПАСС» по елефону +7 (495) 235 55 77