.container
    .arrival__wrap
        .arrival__date
            .arrival__label Туда:
                .data

        .arrival__time
            .arrival__label Время:
            .data
                .data-item.active отправления
                .data-item прибытия