.bg-content
	.container
		.row
			.col-xs-12
				.lk 
					h1.title Оплата балланса Элпасс 
					.row
						.col-xs-2
						.col-xs-8
							.lk__pin
								.lk__pin-label Введите пин-код
								input.lk__pin-inputpin(value='' type="password" maxlength="6")
							.lk__pin-btns
								a.btn.btn_title.btn_orange.btn_orange_fill(href="#")
									span.btn_title__text Выслать новый пин в SMS
								a.btn.btn_title.btn_orange.btn_orange_fill.btn_gray(href="#")
									span.btn_title__text Отмена
								
							

						.col-xs-2
		//- .footer__wrap В случае необходимости позвоните в ООО «ЭЛПАСС» по елефону +7 (495) 235 55 77