.lk__allert.lk__allert_white
		.container
			.lk__allert-text Заказ № 1224 4453 445

.container 
	.row
		.col-xs-5 
			.from-to-order
				img(src="img/svg/circles-2.svg").from-to__circles
				.from-to-order__wrap 
					.from-to-order_item
						.from-to-order__elem Откуда:
						.from-to-order__to
							.from-to-order__name Москва
							.from-to-order__geo Павелецкий вокзал
					.from-to-order_item
						.from-to-order__elem Куда:
						.from-to-order__to
							.from-to-order__name Владимир
							.from-to-order__geo Автовокзал Владимир
		.col-xs-7 
			.order__infoblock-mini 
				.order__infoblock-mini-item 	
					.order__infoblock-mini-start
						.order__infoblock-info
							.order__infoblock-mini-time 20:00
							.order__infoblock-sity
								.order__infoblock-mini-sity-name Москва
								.order__infoblock-mini-date 15 Мая

						
					.order__infoblock-mini-middle 
						.order__infoblock-mini-middle-time 2дн. 10ч. 0мин.

					.order__infoblock-mini-finish
						.order__infoblock-info
							.order__infoblock-mini-time 20:00
							.order__infoblock-sity
								.order__infoblock-mini-sity-name Екатеринбург 
								.order__infoblock-mini-date 15 Мая 

				.order__infoblock-mini-transfer 1 пересадка

				.order__infoblock-mini-item 	
					.order__infoblock-mini-start
						.order__infoblock-info
							.order__infoblock-mini-time 20:00
							.order__infoblock-sity
								.order__infoblock-mini-sity-name Екатеринбург
								.order__infoblock-mini-date 15 Мая

						
					.order__infoblock-mini-middle 
						.order__infoblock-mini-middle-time 2дн. 10ч. 0мин.

					.order__infoblock-mini-finish
						.order__infoblock-info
							.order__infoblock-mini-time 20:00
							.order__infoblock-sity
								.order__infoblock-mini-sity-name Владимир
								.order__infoblock-mini-date 15 Мая
		.col-xs-12
			.order-ticket
				.order-ticket__header Москва — Владимир
				.order-ticket__list
					.order-ticket__number
						<i class="mdi mdi-seat-recline-extra"></i>
						.order-ticket__number-value 14
						.order-ticket__number-text номер места
					.order-ticket__name Иван Петрович И.
					.order-ticket__btn 
						a(href="#").btn.btn_green <i class="mdi mdi-pencil"></i>изменить
					.order-ticket__rate тариф<br>детский
					.order-ticket__price 200<i class="ico icon-rb-m"></i>
				.order-ticket__list
					.order-ticket__number
						<i class="mdi mdi-seat-recline-extra"></i>
						.order-ticket__number-value 15
						.order-ticket__number-text номер места
					.order-ticket__name Карта №123456
					.order-ticket__btn 
						a(href="#").btn.btn_green <i class="mdi mdi-pencil"></i>изменить
					.order-ticket__rate тариф<br>полный
					.order-ticket__price 400<i class="ico icon-rb-m"></i>
			
			.order-ticket
				.order-ticket__header Москва — Владимир
				.order-ticket__list
					.order-ticket__number
						<i class="mdi mdi-seat-recline-extra"></i>
						.order-ticket__number-value 23
						.order-ticket__number-text номер места
					.order-ticket__name Иван Петрович И.
					.order-ticket__btn 
						a(href="#").btn.btn_green <i class="mdi mdi-pencil"></i>изменить
					.order-ticket__rate тариф<br>детский
					.order-ticket__price 200<i class="ico icon-rb-m"></i>
				.order-ticket__list
					.order-ticket__number
						<i class="mdi mdi-seat-recline-extra"></i>
						.order-ticket__number-value 22
						.order-ticket__number-text номер места
					.order-ticket__name Карта №123456
					.order-ticket__btn 
						a(href="#").btn.btn_green <i class="mdi mdi-pencil"></i>изменить
					.order-ticket__rate тариф<br>полный
					.order-ticket__price 440<i class="ico icon-rb-m"></i>


	.ticket-info__result 
		.ticket-info__result-time 
			
		.ticket-info__result-price Итоговая стоимость:
				span 1 240<i class="ico icon-rb-m"></i>


	.row
		.col-xs-4
			a.btn.btn_orange_fill.btn_width-100.btn_order-ticket(href="#")
				img(src="img/svg/lg.svg")
				| с «ЭЛПАСС»
		.col-xs-4
			a.btn.btn_orange_fill.btn_width-100.btn_order-ticket(href="#")
				img(src="img/svg/wallet.svg")
				| НАЛИЧНЫМИ
		.col-xs-4
			a.btn.btn_orange_fill.btn_width-100.btn_order-ticket(href="#")
				img(src="img/svg/visa.svg")
				img(src="img/svg/maestro.svg")
				| КАРТОЙ
