.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h2.title Транспортная карта

	.container
		.col-xs-8
			.lk__card-btn-wrap
				a.btn.btn_orange_fill.btn_width-100(href="#")
					span.btn_title__text деперсонифицировать карту
			.lk__card-btn-wrap
				a.btn.btn_gray(href="#")
					span.btn_title__text заблокировать карту
				a.btn.btn_gray(href="#")
					span.btn_title__text изменить пин-код

		.col-xs-2



	