.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h1.title Приложите карту <br>к бесконтактному считывателю 
					.row
						.col-xs-2
						.col-xs-8
							.loading
								img(src="../img/loading.gif")
						.col-xs-2

					.row
						.col-xs-2
						.col-xs-8
							
							.order-card__text.order-card__text_bold
								i.mdi.mdi-clock 
								span 45 сек.
						.col-xs-2

					.row
						.col-xs-2
						.col-xs-8.content-center
							a.btn.btn_big.btn_gray(href="#") отмена								
						.col-xs-2

		//- .footer__wrap В случае необходимости позвоните в ООО «ЭЛПАСС» по елефону +7 (495) 235 55 77