.lk-menu_wr
	.lk-menu_wr-left
	.lk-menu_wr-center
		.row
			.my-cards  
				h1.title Мои карты 
				.my-cards__slider
					
						.my-cards__slider-line 
							
								.col-xs-4 
									.my-cards__item 
										.my-cards__item-header
											.my-cards__item-title 
												i.mdi.mdi-credit-card
												span элпасс-виртуальная
											.my-cards__item-number №000274
										.my-cards__item-body
											.my-cards__item-name Владимир Владиславович М. 
											.my-cards__item-tell +7 999 123 45 67

								.col-xs-4 
									.my-cards__item 
										.my-cards__item-header
											.my-cards__item-title 
												i.mdi.mdi-credit-card
												span элпасс-стандарт
											.my-cards__item-number №000274
										.my-cards__item-body
											.my-cards__item-name Владимир Владиславович М.
											.my-cards__item-tell +7 999 123 45 67
								.col-xs-4 
									.my-cards__item 
										.my-cards__item-header
											.my-cards__item-title 
												i.mdi.mdi-credit-card
												span элпасс-стандарт
											.my-cards__item-number №000274
										.my-cards__item-body
											.my-cards__item-name Владимир Владиславович М.
											.my-cards__item-tell +7 999 123 45 67
						.my-cards__slider-line
							
								.col-xs-4 
									.my-cards__item.my-cards__item_red 
										.my-cards__item-header
											.my-cards__item-title 
												i.mdi.mdi-credit-card
												span Стрелка
											.my-cards__item-number №000274 
										.my-cards__item-body
											.my-cards__item-name Владимир Владиславович М.
											.my-cards__item-tell +7 999 123 45 67

								.col-xs-4 
									.my-cards__item.my-cards__item_red
										.my-cards__item-header
											.my-cards__item-title 
												i.mdi.mdi-credit-card
												span Тройка
											.my-cards__item-number №000274
										.my-cards__item-body
											.my-cards__item-name Владимир Владиславович М.
											.my-cards__item-tell +7 999 123 45 67
								.col-xs-4 
									.my-cards__item.my-cards__item_red
										.my-cards__item-header
											.my-cards__item-title 
												i.mdi.mdi-credit-card
												span УЭК
											.my-cards__item-number №000274
										.my-cards__item-body
											.my-cards__item-name Владимир Владиславович М.
											.my-cards__item-tell +7 999 123 45 67
					
						.my-cards__slider-line 
							
								.col-xs-4 
									.my-cards__item 
										.my-cards__item-header
											.my-cards__item-title 
												i.mdi.mdi-credit-card
												span элпасс-виртуальная
											.my-cards__item-number №000274
										.my-cards__item-body
											.my-cards__item-name Владимир Владиславович М. 
											.my-cards__item-tell +7 999 123 45 67

								.col-xs-4 
									.my-cards__item 
										.my-cards__item-header
											.my-cards__item-title 
												i.mdi.mdi-credit-card
												span элпасс-стандарт
											.my-cards__item-number №000274
										.my-cards__item-body
											.my-cards__item-name Владимир Владиславович М.
											.my-cards__item-tell +7 999 123 45 67
								.col-xs-4 
									.my-cards__item 
										.my-cards__item-header
											.my-cards__item-title 
												i.mdi.mdi-credit-card
												span элпасс-стандарт
											.my-cards__item-number №000274
										.my-cards__item-body
											.my-cards__item-name Владимир Владиславович М.
											.my-cards__item-tell +7 999 123 45 67
						.my-cards__slider-line
							
								.col-xs-4 
									.my-cards__item.my-cards__item_red 
										.my-cards__item-header
											.my-cards__item-title 
												i.mdi.mdi-credit-card
												span Стрелка
											.my-cards__item-number №000274 
										.my-cards__item-body
											.my-cards__item-name Владимир Владиславович М.
											.my-cards__item-tell +7 999 123 45 67

								.col-xs-4 
									.my-cards__item.my-cards__item_red
										.my-cards__item-header
											.my-cards__item-title 
												i.mdi.mdi-credit-card
												span Тройка
											.my-cards__item-number №000274
										.my-cards__item-body
											.my-cards__item-name Владимир Владиславович М.
											.my-cards__item-tell +7 999 123 45 67
								.col-xs-4 
								
					
									
						
				.my-cards__btns 
					a.btn.btn_orange_fill.btn_width-100.popup_open(data-popup="popup_2")  Открыть попап
					a.btn.btn_orange_fill.btn_width-100.popup_open(data-popup="popup_2") Открыть попап

			.lk-menu
				.lk-menu__wrap 
					.lk-menu__top
						.lk-menu__title личный кабинет
						.lk-menu__tell +7 916 123 45 67
						.lk-menu__list
							.lk-menu__item
								.lk-menu__name текущий баланс
								.lk-menu__value 5 500<i class="mdi mdi-currency-rub"></i>
									span 00 коп. 
							.lk-menu__item
								.lk-menu__name действующая скидка
								.lk-menu__value 0%	
					.lk-menu__bottom 
						.lk-menu__title пополнить баланс
						.lk-menu__btn
							a.btn.btn_orange_fill.btn_width-100(href="#") 
								i.mdi.mdi-wallet 
								span Наличными
							a.btn.btn_orange_fill.btn_width-100(href="#") 
								.lk-menu__btn-cards 
								span Картой
	.lk-menu_wr-right

		

.popup.popup_close#popup_2 
	.popup__wrap.popup__wrap_big
		.popup__wiodow
			.popup__body 
				.confirm-request
					.confirm-request__img
					.confirm-request__title Подтвердите запрос
					.confirm-request__text на получение карты 
					.confirm-request__btn
						.row
							.col-xs-6
								a.btn.btn_orange_fill.btn_width-100(href="#") Выдать карту
							.col-xs-6
								a.btn.btn_gray.btn_width-100(href="#") Отмена