.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h1.title Заберите квитанцию 
					.row
						.col-xs-2
						.col-xs-8
							.loading
								img(src="../img/loading.gif")
						.col-xs-2

					.row
						.col-xs-2
						.col-xs-8
							
							.order-card__text
								i.mdi.mdi-clock 
								span Идет печать квитанции
						.col-xs-2

					.row
						.col-xs-2
						.col-xs-8
							.order-info 
								.order-info__head ЗАКАЗ №1234 4453 445
								.order-info__body
									table.order-info__table
										tr
											td СУММА К ОПЛАТЕ:
											td 
												span.order-info__cost-rub 4 560
													i.mdi.mdi-currency-rub
												span.order-info__cost-cop 00 коп
										tr
											td Оплачено:
											td 
												span.order-info__cost-rub 4 560
													i.mdi.mdi-currency-rub
												span.order-info__cost-cop 	

										tr
											td Сдача:
											td 
												span.order-info__cost-rub 0
													i.mdi.mdi-currency-rub
												span.order-info__cost-cop 00 коп									
						.col-xs-2

	//- .footer__wrap В случае необходимости позвоните в ООО «ЭЛПАСС» по елефону +7 (495) 235 55 77