.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h1.title Заказ №1334 4553 445

	.amount-to-payment
		.container
			.row
				.col-xs-12
					.amount-to-payment__text сумма<br> к оплате
					.amount-to-payment__sum 
						span 4 560 
							i.mdi.mdi-currency-rub
						| 00 коп
	.container
		.row
			.col-xs-12
				.insert-card
					.insert-card__images
						img(src="img/svg/wave.svg")
						img(src="img/svg/card.svg")
					.insert-card__text Вставьте банковскую карту или прислоните к бесконтактному считывателю.

		.row
			.col-xs-12
				.insert-card__text-bottom <i class="mdi mdi-clock"> </i> 45 сек 


	