.bg-content.bg-content_lk-card-tab
	.container
		.row
			.col-xs-12
				.order-card
					h2.lk__tab-card-title.content-center Транспортная карта

	.container
		.col-xs-12
			.lk__card
				.lk__card-notdiscount нет действующих скидок
				.lk__card-num 123 456 78
				.lk__card-expire
					div действует по:
					.lk__card-expire_date 12 / 2020
				.lk__card-name Руслан Валерьевич В.

	.container
		.col-xs-12.content-center
			a.btn.btn_orange_fill(href="#")
				span.btn_title__text деперсонифицировать
		.col-xs-12.content-center
			a.btn.btn_gray.margin-right5(href="#")
				span.btn_title__text заблокировать карту