.bg-content
	.container
		.row
			.col-xs-12
				.order-card
					h1.title Заказ №1334 4553 445

	.amount-to-payment
		.container
			.row
				.col-xs-12
					.amount-to-payment__text сумма<br> к оплате
					.amount-to-payment__sum 
						span 4 560 
							i.mdi.mdi-currency-rub
						| 00 коп
	.container
		.row
			.col-xs-12
				.authorization-successful
					.authorization-successful__check
						span.mdi.mdi-checkbox-marked-circle-outline
					.authorization-successful__text Авторизация прошла успешно




	