.container
    .arrival__wrap
        .arrival__date
            .arrival__label Туда:
            .dateslider
                .dateslider__item
                    span 22 марта 2018
                .dateslider__item
                    span 12 апреля 2018

        .arrival__time
            .arrival__label Время:
            .data
                .data-item.active отправления
                .data-item прибытия

    .arrival__timeline
        .selection
        .item.active-ds
            span 00
            sup 00
        .item
            span 1
            sup 00
        .item
            span 2
            sup 00
        .item
            span 3
            sup 00
        .item.active
            span 4
            sup 00
        .item
            span 5
            sup 00
        .item.active-single
            span 6
            sup 00
        .item
            span 7
            sup 00
        .item
            span 8
            sup 00
        .item.active-sd
            span 9
            sup 00
        .item
            span 10
            sup 00
        .item.active-double
            span 11
            sup 00
        .item
            span 12
            sup 00
        .item
            span 13
            sup 00
        .item
            span 14
            sup 00
        .item
            span 15
            sup 00
        .item
            span 16
            sup 00
        .item
            span 17
            sup 00
        .item
            span 18
            sup 00
        .item
            span 19
            sup 00
        .item
            span 20
            sup 00
        .item
            span 21
            sup 00
        .item
            span 22
            sup 00
        .item
            span 23
            sup 00

    .route-wrap
        .lk__table-row.lk__table-row_tickets
            .my-tickets__item-body
                .my-tickets__item-info.my-tickets__item-info_lk-table-item
                    .my-tickets__item-info-dash
                    .my-tickets__item-info__block
                        .my-tickets__item_ticket-icon
                        .my-tickets__item-info__date 20:00
                            span 15 дек
                        .my-tickets__item-info__city
                            .name Москва
                            span Павелецкий вокзал
                    .my-tickets__item-info__block
                        .my-tickets__item-info__date 15:30
                            span 17 дек
                        .my-tickets__item-info__city Владимир
                            span Автовокзал Владимир
                    .my-tickets__item-info__block.my-tickets__item-info__block_name-icon
                        .my-tickets__table-row-item-ico Иван Сергеевич И.
                    div
                        a.btn.btn_green.btn_middle.btn_inner-table
                            i.mdi.mdi-printer
                            | Печать
                .my-tickets__item-bottom
                    div
                        a.btn.btn_gray.btn_middle.btn_inner-table
                            i.mdi.mdi-undo-variant
                            | Возврат
                    div 9600
                        i.mdi.mdi-currency-rub

    .btn__nav-wrap
        a.btn__nav.btn__nav_prev(href="#")
            i.mdi.mdi-chevron-right
            | рейсы раньше
        a.btn__nav.btn__nav_next(href="#") рейсы позднее
            i.mdi.mdi-chevron-right