.bg-content
	.container.container_end
		.row
			.col-xs-12
				.order-card
					h1.title Заберите карту 
					.row
						.col-xs-2
						.col-xs-8
							.loading
								img(src="img/loading.gif")
						.col-xs-2

					.row
						.col-xs-2
						.col-xs-8
							
							.order-card__text
								i.mdi.mdi-clock 
								span Идёт выдача карты
						.col-xs-2
								

