.container
    .arrival__wrap
        .arrival__date
            .arrival__label Туда:
            .dateslider
                .dateslider__item
                    span 22 марта 2018
                .dateslider__item
                    span 12 апреля 2018

        .arrival__time
            .arrival__label Время:
            .data
                a.data-item.active отправления
                a.data-item прибытия

    .arrival__timeline
        .selection
        .item.active-start
            span 00
            sup 00
        .item
            span 1
            sup 00
        .item
            span 2
            sup 00
        .item
            span 3
            sup 00
        .item.active
            span 4
            sup 00
        .item
            span 5
            sup 00
        .item.active-single
            span 6
            sup 00
        .item
            span 7
            sup 00
        .item
            span 8
            sup 00
        .item.active-sd
            span 9
            sup 00
        .item
            span 10
            sup 00
        .item.active-double
            span 11
            sup 00
        .item
            span 12
            sup 00
        .item
            span 13
            sup 00
        .item
            span 14
            sup 00
        .item
            span 15
            sup 00
        .item
            span 16
            sup 00
        .item
            span 17
            sup 00
        .item
            span 18
            sup 00
        .item
            span 19
            sup 00
        .item
            span 20
            sup 00
        .item
            span 21
            sup 00
        .item
            span 22
            sup 00
        .item.active-end
            span 23
            sup 00

    .route__item
        .route__maininfo
            .route__date
                .datetime
                    .start
                        .time 21:30
                        .date 22 апр. 2018, ср
                    .end
                        .time 05:30
                        .date 23 апр. 2018, чт
                .check
                    i.mdi.mdi-chevron-down
                .route
                    .start
                        .city Москва
                            span (Красногвардейская)
                        .country Россия
                    .end
                        .city Алексеевско-Лазовское
                            span (трасса)
                        .country Чертковский район, Ростовская область, Россия
            .route__price
                .sticker
                    .mdi.mdi-sale выгодный
                    //.mdi.mdi-rocket быстрый
                .price
                    .title Цена билета
                    .cost
                        span 2128.
                        sub 00
                        i.mdi.mdi-currency-rub
                    .tax
                        span Сервисный сбор 0.00
                        i.mdi.mdi-currency-rub

        .route__subinfo
            .route__bus-icon
                img(src="img/bus-icon.png")
            .route__subinfo-item
                .title Автобус 84 места
                .gray Баг: 168, Стоя: 0
                div Свободно:
                    span.title &nbsp;73
            .route__subinfo-item
                .title Рейс 787
                div Красногвардейская АС - Волгодонск
                .gray Межрегиональный
            .route__subinfo-item
                .title.gray Перевозчик
                div ИП Белов Эдуард Евгеньевич
                div ИНН 614300335054

    .route__item
        .route__maininfo
            .route__date
                .datetime
                    .start
                        .time 21:30
                        .date 22 апр. 2018, ср
                    .end
                        .time 05:30
                        .date 23 апр. 2018, чт
                .check
                    i.mdi.mdi-chevron-down
                .route
                    .start
                        .city Москва
                            span (Красногвардейская)
                        .country Россия
                    .end
                        .city Алексеевско-Лазовское
                            span (трасса)
                        .country Чертковский район, Ростовская область, Россия
            .route__price
                .sticker
                    .mdi.mdi-sale выгодный
                    //.mdi.mdi-rocket быстрый
                .price
                    .title Цена билета
                    .cost
                        span 2128.
                        sub 00
                        i.mdi.mdi-currency-rub
                    .tax
                        span Сервисный сбор 0.00
                        i.mdi.mdi-currency-rub

        .route__subinfo
            .route__bus-icon
                img(src="img/bus-icon.png")
            .route__subinfo-item
                .title Автобус 84 места
                .gray Баг: 168, Стоя: 0
                div Свободно:
                    span.title &nbsp;73
            .route__subinfo-item
                .title Рейс 787
                div Красногвардейская АС - Волгодонск
                .gray Межрегиональный
            .route__subinfo-item
                .title.gray Перевозчик
                div ИП Белов Эдуард Евгеньевич
                div ИНН 614300335054

    .route__item
        .route__maininfo
            .route__date
                .datetime
                    .start
                        .time 21:30
                        .date 22 апр. 2018, ср
                    .end
                        .time 05:30
                        .date 23 апр. 2018, чт
                .check
                    i.mdi.mdi-chevron-down
                .route
                    .start
                        .city Москва
                            span (Красногвардейская)
                        .country Россия
                    .end
                        .city Алексеевско-Лазовское
                            span (трасса)
                        .country Чертковский район, Ростовская область, Россия
            .route__price
                .sticker
                    .mdi.mdi-sale выгодный
                    //.mdi.mdi-rocket быстрый
                .price
                    .title Цена билета
                    .cost
                        span 2128.
                        sub 00
                        i.mdi.mdi-currency-rub
                    .tax
                        span Сервисный сбор 0.00
                        i.mdi.mdi-currency-rub

        .route__subinfo
            .route__bus-icon
                img(src="img/bus-icon.png")
            .route__subinfo-item
                .title Автобус 84 места
                .gray Баг: 168, Стоя: 0
                div Свободно:
                    span.title &nbsp;73
            .route__subinfo-item
                .title Рейс 787
                div Красногвардейская АС - Волгодонск
                .gray Межрегиональный
            .route__subinfo-item
                .title.gray Перевозчик
                div ИП Белов Эдуард Евгеньевич
                div ИНН 614300335054


    .btn__nav-wrap
        a.btn__nav.btn__nav_prev(href="#")
            i.mdi.mdi-chevron-right
            | рейсы раньше
        a.btn__nav.btn__nav_next(href="#") рейсы позднее
            i.mdi.mdi-chevron-right

    .curren-date 2 апреля 2018, вт 19:30:18