.container
	.row
		.col-xs-12
			#datepicker.datepicker-wrap

	.row
		.col-xs-12.content-center
			a.btn.btn_find.btn_orange_fill(href="#")
				span.btn_title__img 
					img(src="img/svg/bus.svg")
				span.btn_title__text Найти
