.container
	.row
		.col-xs-12
			.text
				p Выберите пункт отправления и пункт назначения, а затем перейдите к поиску билета
	.row
		.col-xs-12
			.input__wrap
				input.input__elem(type="text")
				.input__text Откуда
				.input__hint
					ul.input__hint__list
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
			.input__wrap
				.input__hint
					ul.input__hint__list
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
				input.input__elem(type="text")
				.input__text Куда


			a(href="#").btn.btn_green.btn_border-green-dark.btn_arrows-circle



