.container
	.row
		.col-xs-12
			.text
				p Выберите пункт отправления и пункт назначения, а затем перейдите к поиску билета
	.row
		.col-xs-12
			.input__wrap
				input#from_element.input__elem(type="text")
				.input__comment.input__comment_hidden Автостанция «Центральная»,  М. «Щелковская»
				.input__text Откуда
				.input__hint
					ul.input__hint__list
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
			.input__wrap
				.input__comment.input__comment_hidden Автостанция «Центральная»,  М. «Щелковская»
				.input__hint
					ul.input__hint__list
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
				input#to_element.input__elem(type="text")
				.input__text Куда


			a(href="#").btn.btn_green.btn_border-green-dark.btn_arrows-circle

	.row
		.col-xs-12

			.passengers 
				.passengers__text Пассажиров
				.passengers__counter 
					a(href="#").passengers__btn.passengers__btn-plus +
					input(type="text", disabled, value="2").passengers__input
					a(href="#").passengers__btn.passengers__btn-minus &ndash;



	.row
		.col-xs-12.content-center
			a.btn.btn_orange_fill.btn_go-next(href="#") Продолжить




