.header.header_tabs
  .container
    .row
      .col-xs-12
        .header__lk личный кабинет пассажира
        .header__wrap
          .header__left
            .header__cash 5 500.00
                i.mdi.mdi-currency-rub
            a.btn.btn_green.btn_back.btn_border-white.btn_icon-left(href="#")
                span.btn__img
                i.mdi.mdi-wallet
                span баланс
          ul.header__tab
            li.header__tab-item
               a(href="#")
                    .header__tab-item-card
                    span карты
            li.header__tab-item.active
               a(href="#")
                    .header__tab-item-pas
                    span пассажиры
            li.header__tab-item
               a(href="#")
                    .header__tab-item-ticket
                    span билеты
          .header__right
            .header__tel +7 916 123 45 67
            a.btn.btn_green.btn_main-menu.btn_border-white.btn_icon-right(href="#")
                span.btn__img
                span выйти
                    i.mdi.mdi-logout-variant

.way.way_tab
    .container
        .row
            .col-xs-12
                .row.from-to__wrap
                    .col-xs-12
                        .block_info.header__tab-block-info
                            i.mdi.mdi-information-outline
                            .block_info__text Вы можете использовать сохраненные данные пасажиров для быстрого бронирования билетов на междугородние автобусы