.header
  .container
    .header__wrap 
      a.arrow-back(href="#")
        img.arrow-back__img(src="img/arrow-back.png")
      .time 
        .time__timepiece 19:30:18
        .time__timepiece 25 апреля 2017, вт
      a.btn.btn_orange.btn_main-menu(href="#") Главная


    