.header.header_new
  .container
    .header__wrap
      .header__left
        img(src="img/svg/elpasslogo.svg").header_new-logo
        .header__cash 5 500.00
            i.mdi.mdi-currency-rub

      .header__right
        //.header__tel +7 916 123 45 67
        a.btn__general-green.btn_icon-left(href="#")
            span.btn__img
            i.mdi.mdi-magnify
            span новый поиск

        a.btn__general-green.btn_icon-right(href="#")
            span.btn__img
            span выйти
                i.mdi.mdi-logout-variant