.header
  .container
    .row
      .col-xs-12
        .header__wrap 
          a.btn.btn_green.btn_back.btn_border-white(href="#") 
            span.btn__img
              img(src="img/svg/arrow.svg", alt="") 
            span назад
          .time 
            .time__timepiece 19:30:18
            .time__timepiece 25 апреля 2017, вт
          a.btn.btn_green.btn_main-menu.btn_border-white(href="#") 
            span.btn__img
              img(src="img/svg/home.svg", alt="") 
            span Главная


    