.container
	.container__main
		.container__wrap-min
			.history-ticket__wrap
				.history-ticket__logo
					img(src="img/elpasslogo.svg").history-ticket__img
				.history-ticket__text АВТОБУСНЫЕ ПЕРЕВОЗКИ 
					span «ЭЛПАСС»
			a.btn.btn_green.btn__img-left(href="#") Покупка билета
				img(src="img/bus.png")
			a.btn.btn__img-left(href="#") печать билета
				img(src="img/paper.png")
			a.btn.btn__img-left(href="#") присоединение к элпасс
				img(src="img/ticket.png")
			a.btn.btn__img-left(href="#") пополнить баланс
				img(src="img/wallet.png")

