.container
	.bg-main
		.bg-main__road
			.bg-main__road_left

	.row
		.col-xs-12
			.history-ticket__logo
				img(src="img/svg/elpasslogo.svg").history-ticket__img
			.language 
				.language__text Выберите язык интерфейса
				.language__buttons
					a.btn.btn_green(href="#") рус 
					a.btn(href="#") eng
	.row
		.col-xs-12
			h1.title АВТОБУСНЫЕ ПЕРЕВОЗКИ 
				span «ЭЛПАСС»
	.row
		.col-xs-2
		.col-xs-8
			a.btn.btn_title.btn_orange.btn_orange_fill(href="#")
				span.btn_title__img 
					<i class="mdi mdi-bus"></i>
				span.btn_title__text Покупка билета
				
			a.btn.btn_title.btn_orange.btn_orange_fill(href="#") 
				span.btn_title__img 
					<i class="mdi mdi-printer"></i>
				span.btn_title__text печать билета
				
			a.btn.btn_title.btn_orange.btn_orange_fill(href="#") 
				span.btn_title__img 
					<i class="mdi mdi-credit-card-plus"></i>
				span.btn_title__text присоединение к элпасс
			a.btn.btn_title.btn_orange.btn_orange_fill(href="#") 
				span.btn_title__img 
					<i class="mdi mdi-wallet"></i>
				span.btn_title__text пополнить баланс

		.col-xs-2


