nav.menu-nav
	ul.menu-nav__list
		li.menu-nav__elem
			a(href="index.html") Главная
		li.menu-nav__elem
			a(href="dispatch_and_appointment.html") Пункт отправления и назначения
		li.menu-nav__elem
			a(href="dispatch_and_appointment_2.html") Пункт отправления и назначения - 2
		li.menu-nav__elem
			a(href="calendar.html") Календарь
		li.menu-nav__elem
			a(href="ticket_search.html") 5
		li.menu-nav__elem
			a(href="book-seats.html") 6
		li.menu-nav__elem
			a(href="ui.html") 7-ui
		li.menu-nav__elem
			a(href="bus.html") 8-автобус
		li.menu-nav__elem
			a(href="passenger-data.html") Buy-9.psd 
		li.menu-nav__elem
			a(href="passenger-data-2.html") Buy-10.psd 
		li.menu-nav__elem
			a(href="buy-12.html") Buy-12.psd 
		li.menu-nav__elem
			a(href="buy-14.html") Buy-14.psd 
	.menu-nav__btn

