nav.menu-nav
	ul.menu-nav__list
		li.menu-nav__elem
			a(href="index.html") Главная
		li.menu-nav__elem
			a(href="dispatch_and_appointment_2.html") Пункт отправления и назначения
		li.menu-nav__elem
			a(href="calendar.html") calendar
		li.menu-nav__elem
			a(href="ticket_search.html") ticket_search.psd
		li.menu-nav__elem
			a(href="book-seats.html") book-seats.psd
		li.menu-nav__elem
			a(href="ui.html") ui
		li.menu-nav__elem
			a(href="bus.html") bus.psd
		li.menu-nav__elem
			a(href="bus-2.html") bus-2.psd
		li.menu-nav__elem
			a(href="passenger-data-one-passager.html") Buy-9.psd (один пассажир)
			a(href="passenger-data.html") Buy-9.psd (много пассажиров) 
		li.menu-nav__elem
			a(href="passenger-data-2.html") Buy-10.psd 
		li.menu-nav__elem
			a(href="Buy-11.html") Buy-11.psd 
		li.menu-nav__elem
			a(href="Buy-11-2.html") Buy-11-2.psd 
		li.menu-nav__elem
			a(href="buy-12.html") Buy-12.psd 
		li.menu-nav__elem
			a(href="buy-13.html") Buy-13.psd 
		li.menu-nav__elem
			a(href="buy-14.html") Buy-14.psd 
		li.menu-nav__elem
			a(href="buy-15.html") Buy-15.psd
		li.menu-nav__elem
			a(href="buy-16.html") Buy-16.psd
		li.menu-nav__elem
			a(href="buy-17.html") Buy-17.psd
		li.menu-nav__elem
			a(href="buy-18.html") Buy-18.psd 
		li.menu-nav__elem
			a(href="buy-19.html") Buy-19.psd 
		li.menu-nav__elem
			a(href="buy-20.html") Buy-20.psd 
		li.menu-nav__elem
			a(href="buy-21.html") Buy-21.psd 
		li.menu-nav__elem
			a(href="buy-22.html") Buy-22.psd 
		li.menu-nav__elem
			a(href="buy-23.html") Buy-23.psd 
		li.menu-nav__elem
			a(href="buy-24.html") Buy-24.psd 
		li.menu-nav__elem
			a(href="buy-25.html") Buy-25.psd 
		li.menu-nav__elem
			a(href="buy-26.html") Buy-26.psd 
			a(href="buy-26-2.html") Buy-26-2.psd 
		li.menu-nav__elem
			a(href="buy-27.html") Buy-27.psd 
		li.menu-nav__elem
			a(href="buy-28.html") Buy-28.psd 
		li.menu-nav__elem
			a(href="buy-29.html") Buy-29.psd 
	.menu-nav__btn

