nav.menu-nav
	ul.menu-nav__list
		li.menu-nav__elem
			a(href="index.html") Главная
		li.menu-nav__elem
			a(href="dispatch_and_appointment.html") Пункт отправления и назначения
		li.menu-nav__elem
			a(href="dispatch_and_appointment_2.html") Пункт отправления и назначения - 2
		li.menu-nav__elem
			a(href="calendar.html") Календарь
	.menu-nav__btn

