.container
	.row
		.col-xs-12
			//- .select-route
			//- 	.select-route__block.active
			//- 		.select-route__way Москва
			//- 		.select-route__way Екатеренбург
			//- 		.select-route__date 15 мая 2017 14:30
			//- 		.select-route__places Выбраны места:
			//- 			span 22
			//- 	.select-route__block
			//- 		.select-route__way Москва
			//- 		.select-route__way Екатеренбург
			//- 		.select-route__date 15 мая 2017 14:30
			//- 		.select-route__places Места не выбраны

			.passenger-block 
				.passenger-block__elem.active
					.passenger-block__text пасажир 1 
				.passenger-block__elem
					.passenger-block__text пасажир 2 

	.row
		.col-xs-12
			.passenger-wrap
				.row
					.col-xs-4
						.input__wrap.input__wrap_plain
							input.input__elem(type="text", placeholder="")
							.input__text Фамилия
					.col-xs-4
						.input__wrap.input__wrap_plain
							input.input__elem(type="text", placeholder="")
							.input__text Имя
					.col-xs-4
						.input__wrap.input__wrap_plain
							input.input__elem(type="text", placeholder="")
							.input__text Отчество
				.row
					.col-xs-6
						.input__wrap.input__wrap_plain
							input.input__elem(type="text", placeholder="")
							.input__text Дата рождеия
					.col-xs-6
						.input__wrap.input__wrap_plain
							input.input__elem(type="text", placeholder="", disabled)
							.input__text Пол
							.input__btn-block
								a(href="#", data-sex = "Мужской").input__btn-block__sex.active М
								a(href="#", data-sex = "Женский").input__btn-block__sex Ж
				.row
					.col-xs-6
						.input__wrap.input__wrap_plain
							input.input__elem(type="text", placeholder="")
							.input__text вид документа					
					.col-xs-6
						.input__wrap.input__wrap_plain
							input.input__elem(type="text", placeholder="")
							.input__text серия и номер											
				.row
					.col-xs-6
						.input__wrap.input__wrap_plain.active
							select.input__elem.selectpicker(data-size="3")

								option(value='1') Россия
								option(value='2') Украина
								option(value='3') Беларусь
								option(value='4') Литва
								option(value='5') США
								option(value='6') Гернания 
							.input__text гражданство	
					.col-xs-6
						.input__wrap.input__wrap_plain
							input.input__elem(type="text", placeholder="")
							.input__text мобильный телефон

	.row
		.col-xs-12
			.card_marker
				img.card_marker__img(src="../img/img_card_marker.png")

				.card_marker__checkbox
					input#checkbox.checkbox(type='checkbox')
					label(for='checkbox') 

				.card_marker__text Выдать карту «ЭЛПАСС»
					span С картой ЭЛПАСС можно пользоваться городскими, пригородными и междугородными автобусами



	.row
		.col-xs-12.content-center
			a.btn.btn_orange_fill.btn_order-pay(href="#") ПОСМОТРЕТЬ ЗАКАЗ И ОПЛАТИТЬ