.container
	.row.container__border-bottom
		.col-xs-4
			input#checkbox.checkbox(type='checkbox')
			label(for='checkbox') Без пересадок
		.col-xs-8
			.search-filter
				a(href="#").search-filter__link По цене
					<i class="mdi mdi-menu-down"></i>
				.search-filter__input
					input.search-filter__elem(type="text", placeholder="По времени отправления")
				a(href="#").search-filter__link В пути
					<i class="mdi mdi-menu-up"></i>
	.row
		.col-xs-12.content-center

			.departure_title Дата отправления
			.departure_date 19 мая 2017, СР

	.row
		.col-xs-12
		.slider
			.slider__wrap
				.slider__elem 
					.row
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub

				.slider__elem 
					.row
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub
						.col-xs-4 
							.slider__block
								.slider__block_date
									.slider__block_go-to 
										span отправление
										span прибытие
									.slider__block_time
										span 04:30
										span &mdash; 
										span 05:30
									.slider__block_days
										span +2 дня
									.slider__block_transfer
										i.mdi.mdi-checkbox-blank-circle
										span 1 пересадка
									.slider__block_total-time
										i.mdi.mdi-clock
										span 2 дн. 10ч. 0 мин.
								.slider__block_prise 2020
									i.mdi.mdi-currency-rub