.container
	.container__main
		p заглловки

		h1.title заголовок 
			

		h1.title.title_orange заголовок 
			

		p кнопки

		a.btn(href="#") кнопка
		br
		a.btn.btn_green(href="#") зеленая кнопка
		br
		a.btn.btn_small(href="#") маленькая кнопка
		br
		a.btn.btn_orange(href="#") оранжевая кнопка
		br
		a.btn.btn_orange_fill(href="#") оранжевая закрашенная кнопка
		br
		a.btn.btn_gray(href="#") серая кнопка
		br
		a.btn.btn_orange.btn_disabled(href="#") не активная кнопка

		p инпуты
		.input__wrap
			input.input__elem(type="text", placeholder="")
			.input__text введите текст

		.input__wrap.input__wrap_center
			input.input__elem(type="text", placeholder="")
			.input__text внесенная сумма

		.input__wrap
			input.input__elem(type="text", placeholder="")
			.input__text введите текст
			.input__comment Автостанция «Центральная»,	М. «Щелковская»
			.input__hint
					ul.input__hint__list
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия							
		p текст
		.text
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam beatae odit veniam unde dolorem vitae debitis quasi, natus similique alias ducimus id ipsa labore provident inventore saepe eveniet neque.

		.text_small
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam beatae odit veniam unde dolorem vitae debitis quasi, natus similique alias ducimus id ipsa labore provident inventore saepe eveniet neque.

		.text.text_italic
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ipsum molestias beatae, quod error quis suscipit, mollitia repellendus nesciunt officiis libero accusamus nulla blanditiis! Officiis voluptatibus expedita impedit voluptate ullam.

		.text.text_gray
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ipsum molestias beatae, quod error quis suscipit, mollitia repellendus nesciunt officiis libero accusamus nulla blanditiis! Officiis voluptatibus expedita impedit voluptate ullam.

		p чекбокс 
		input#checkbox.checkbox(type='checkbox')
		label(for='checkbox') 

		p календарь
		#datepicker.datepicker-wrap

		p попап	

		.btn.popup_open(data-popup="popup_1") Открыть попап

		.popup.popup_close#popup_1 
			.popup__wrap
				.popup__wiodow
					h2.popup__title Вид документа
					.popup__body
							ul.document-list
								li.document-list__item.popup_close
									a(href='#doc1') Паспорт
								li.document-list__item.popup_close
									a(href='#doc2') Заграничный паспорт
								li.document-list__item.popup_close
									a(href='#doc3') Военный билет
								li.document-list__item.popup_close
									a(href='#doc4') Свидетельсто о рождении
								li.document-list__item.popup_close
									a(href='#doc5') Иностранный паспорт

		p загрузчик
		.loading
			img(src="../img/loading.gif")

