.container
	.container__main
		p заглловки

		h1.title заголовок 
			

		h1.title.title_orange заголовок 
			

		p кнопки

		a.btn(href="#") кнопка
		br
		a.btn.btn_green(href="#") зеленая кнопка
		br
		a.btn.btn_green.btn_border-white(href="#") зеленая кнопка с белой обводкой
		br
		a.btn.btn_small(href="#") маленькая кнопка
		br
		a.btn.btn_orange(href="#") оранжевая кнопка
		br
		a.btn.btn_orange_fill(href="#") оранжевая закрашенная кнопка
		br

		p инпуты
		.input__wrap
			input.input__elem(type="text", placeholder="")
			.input__text введите текст

		.input__wrap
			input.input__elem(type="text", placeholder="")
			.input__text введите текст
			.input__comment Автостанция «Центральная»,  М. «Щелковская»
			.input__hint
					ul.input__hint__list
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия
						li.input__hint__elem
							a(href="#").input__hint__link
								.input__hint__name Ярославль
								.input__hint__text г. Ярославль, Ярославская область, Россия							
		p текст
		.text
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam beatae odit veniam unde dolorem vitae debitis quasi, natus similique alias ducimus id ipsa labore provident inventore saepe eveniet neque.

		.text_small
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam beatae odit veniam unde dolorem vitae debitis quasi, natus similique alias ducimus id ipsa labore provident inventore saepe eveniet neque.

		p чекбокс 
		input#checkbox.checkbox(type='checkbox')
		label(for='checkbox') 

		p календарь
		#datepicker.datepicker-wrap
