.container
	.container__main
		p заглловки

		h1.title заголовок 
			span жирный

		h1.title.title_orange заголовок 
			span жирный

		p кнопки

		a.btn(href="#") кнопка
		br
		a.btn.btn_green(href="#") зеленая кнопка
		br
		a.btn.btn_green.btn_border-white(href="#") зеленая кнопка с белой обводкой
		br
		a.btn.btn_small(href="#") маленькая кнопка
		br
		a.btn.btn_orange(href="#") оранжевая кнопка
		br


		p инпуты
		.input__wrap
			input.input__elem(type="text", placeholder="введите текст")
			.input__text текст

		p  текст
		.text
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam beatae odit veniam unde dolorem vitae debitis quasi, natus similique alias ducimus id ipsa labore provident inventore saepe eveniet neque.

		.text_small
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam beatae odit veniam unde dolorem vitae debitis quasi, natus similique alias ducimus id ipsa labore provident inventore saepe eveniet neque.

		p чекбокс 
		input#checkbox.checkbox(type='checkbox')
		label(for='checkbox') 