.way.way_two
	.container
		.row
			.col-xs-12
				.row.from-to__wrap
					.col-xs-6
						.from-to
							img(src="img/svg/circles.svg").from-to__circles
							.from-to__text 
								.from-to__text_from 
									span.from-to__elem Откуда:
									span.from-to__name Москва
								.from-to__text_to
									span.from-to__elem Куда:
									span.from-to__name Калуга
					.col-xs-4.col-xs-offset-2 
						.counter
							.counter__title Пассажиров
							.counter__box 
								button.counter__plus
								.counter__input-wrap
									input.counter__input(value='2')
								button.counter__minus
