.way
  .container
    .row
      .col-xs-12
        .from-to
          img(src="img/svg/circles.svg").from-to__circles
          .from-to__text 
            .from-to__text_from 
              span.from-to__elem Откуда:
              span.from-to__name Москва
            .from-to__text_to
              span.from-to__elem Куда:
              span.from-to__name Калуга
          a(href="#").btn.btn_green.btn_arrows.btn_border-green-dark 


    