.way.way_two
	.container
		.row
			.col-xs-12
				.row.from-to__wrap
					.col-xs-4
						.block_info
							<i class="mdi mdi-information-outline"></i>
							.block_info__text Необходимо выбрать для каждого пассажира по одному месту в каждом автобусе. 
					.col-xs-4
						.block_info
							<i class="mdi mdi-information-outline"></i>
							.block_info__text Необходимо выбрать для каждого пассажира по одному месту в каждом автобусе. 
					.col-xs-4
						.counter
							.counter__title.counter__title_right Пассажиров
							.counter__box.counter__box_right
								.counter__input-wrap
									input.counter__input(value='2', disabled)
