.way.way_tab
	.container
		.row
			.col-xs-12
				.row.from-to__wrap
					.col-xs-12
						.block_info.header__tab-block-info
							i.mdi.mdi-information-outline
							.block_info__text Вы можете использовать сохраненные данные пасажиров для быстрого бронирования билетов на междугородние автобусы