.way.way_four
	.container
		.row
			.col-xs-12
				.row
					.qrcode
						<i class="mdi mdi-qrcode-scan"></i>
						.qrcode__text Вы можете ввести данные пассажира вручную или просто сканировать транспортную карту ЭЛПАСС

					//- .col-xs-6
					//- 	.block_info
					//- 		<i class="mdi mdi-information-outline"></i>
					//- 		.block_info__text Необходимо выбрать для каждого пассажира по одному месту в каждом автобусе. 
					//- .col-xs-6
					//- 	a.btn.btn_green.btn_float-right(href="#") 
					//- 		<i class="mdi mdi-qrcode"></i>	Сканировать QR-код

