.way.way_four
	.container
		.row
			.col-xs-12
				.row.from-to__wrap
					.col-xs-7
						.block_info
							<i class="mdi mdi-information-outline"></i>
							.block_info__text Для изменения данных отсканируйте другую транспортную карту или перейдите к ручному вводу
					.col-xs-5
						a.btn.btn_green.btn_float-right(href="#") 
							<i class="mdi mdi-qrcode"></i>	Сканировать QR-код

